<footer>
    <img src="/shared/icon/logo.webp" width=100 style="padding-left: var(--margin)">
    <div class="footer-content">
        <div>
            <a href="mailto:rapark25@gmail.com"><img src="/shared/icon/mail.svg" height="24px"></a>
            <a href="https://www.linkedin.com/in/ray-i-parker/" target="_blank" rel="noopener noreferrer"><img src="/shared/icon/linkedin.svg" height="24px"></a>
            <p>©Ray Parker 2026</p>
        </div>
        <a href="https://alleydot.com/" style="font-style: italic; color: dimgray; font-size: var(--s-small-height)">Design by Alleydot</a>
    </div>
</footer>