<header>
    <nav style="padding-right: var(--margin)">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/gallery/">Gallery</a>
        <a href="mailto:rapark25@gmail.com"><img src="/shared/icon/mail.svg"></a>
        <a href="https://www.linkedin.com/in/ray-i-parker/" target="_blank" rel="noopener noreferrer"><img src="/shared/icon/linkedin.svg" height="24px"></a>
    </nav>
</header>