--- 
layout: base.njk
title: Raydowi | TITLE
---

<div class="card row">
    <div class="card-media ar16x9">
        <iframe src="https://www.youtube.com/embed/Z6rxcKGIVw4?si=-LtOjVt9Tk9jpQpP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="card-body">
        <h3>[Project Title]</h3>
        <p>
            Project Description
        </p>
    </div>
    <div class ="card-footer">
        <div class="icons">
            <div class="icon-with-text"><img src="/shared/icon/team.svg" alt="Team size:"><span>3</span></div>
            <img src="/shared/icon/unity.svg" alt="Made with Unity Engine">
            <img src="/shared/icon/itchio.svg" alt="Published on itch.io">
            <div class="icon-with-text"><img src="/shared/icon/calendar.svg" alt="Published:"><span>2023</span></div>
        </div>
        <a class="cta-link" href="/">About</a>
    </div>
</div>

<div class="grid">
    <div class="card">
        <div class="card-media ar16x9">
            <img src="/img/hivequest.png" alt="'HiveQuest' splash art">
        </div>
        <div class="card-body">
            <h3>[Project Title]</h3>
            <p>
                Project Description
            </p>
        </div>
        <div class ="card-footer">
            <div class="icons">
                <div class="icon-with-text"><img src="/shared/icon/team.svg" alt="Team size:"><span>8</span></div>
                <img src="/shared/icon/unreal.svg" alt="Made with Unreal Engine">
                <img src="/shared/icon/itchio.svg" alt="Published on itch.io">
                <div class="icon-with-text"><img src="/shared/icon/calendar.svg" alt="Published:"><span>2022</span></div>
            </div>
            <a class="cta-link" href="https://raydowi.itch.io/">Play Now!</a>
        </div>
    </div>

    <div class="card">
        <div class="card-media ar16x9">
            <img src="/img/seniorhearts.png">
        </div>
        <div class="card-body">
            <h3>[Project Title]</h3>
            <p>
                Project Description
            </p>
        </div>
        <div class ="card-footer">
            <div class="icons">
                <div class="icon-with-text"><img src="/shared/icon/team.svg" alt="Team size:"><span>4</span></div>
                <img src="/shared/icon/gamemaker.svg" alt="Made with GameMaker">
                <img src="/shared/icon/itchio.svg" alt="Published on itch.io">
                <div class="icon-with-text"><img src="/shared/icon/calendar.svg" alt="Published:"><span>2022</span></div>
            </div>
            <a class="cta-link" href="https://raydowi.itch.io/">Play Now!</a>
        </div>
    </div>
</div>