--- 
layout: base.njk
title: Raydowi | TITLE
---
<section class="hero">
    <h1>Project Name</h1>
    <nav>
        <a href="#section-id">Link</a> 
    </nav>
</section>
<section>
    <div class="media ar16x9"><iframe src="https://www.youtube.com/embed/Z6rxcKGIVw4?si=-LtOjVt9Tk9jpQpP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    <div>

    </div>
    <div class="grid">
        <iframe height="167" frameborder="0" src="https://itch.io/embed/1889779" width="100%"><a href="https://dymander.itch.io/leaf-it-behind">Leaf It Behind by Dymander, Raydowi, granthchang</a></iframe>
        <p>
            In this 2D sidescroller fishing platformer, play as a flying leopard gecko with a trusty fishing rod. 
            The locals lost their precious belongings in a terrible storm, and Little 
            Bitty is determined to glide across the forest and fish them back up! Meet a cozy cast of animal characters, 
            glide through this serene forest map, and experience one of the most dramatic fishing mini-games in this 
            36-hour game jam creation.
        </p>
    </div>
    <div class="icons">
        <div class="icon-with-text"><img src="/shared/icon/team.svg" alt="Team size:"><span>3</span></div>
        <img src="/shared/icon/unity.svg" alt="Made with Unity Engine">
        <img src="/shared/icon/itchio.svg" alt="Published on itch.io">
        <div class="icon-with-text"><img src="/shared/icon/calendar.svg" alt="Published:"><span>2023</span></div>
    </div>
</section>

<section id="section-id">
	<h2>Section Title</h2>
	<ul>
		<li>List item</li>'
	</ul>
	<div class="grid">
		<div class="media ar4x3 modal">
			<img src="img/example.png" alt="alt text">
		</div>
		<div class="media ar4x3 modal">
			<img src="img/example.png" alt="alt text">
		</div>
	</div class="grid">
</section>