@*
    TODO: Header comment
*@
@{
    ViewData["Title"] = "Contact Page";
}

<body>
    <div class="regular">
        <section>
            <div>
                <h1 class="display-4" style="text-align: center;"><b>Contact</b></h1>
            </div>
        </section>

        <section style="margin:30px;">
            <div style="margin: 50px 300px;">
                <h3>I would love to connect! I am actively looking for work as of November 2023.</h3>
                <br>
                <h3>If you have a work opportunity or just want to chat, feel free to connect with me on <a href="https://www.linkedin.com/in/ray-i-parker/">LinkedIn</a> or reach out to <a href="mailto:rapark25@gmail.com">my business email</a>.</h3>
            </div>
        </section>

        <section style="margin:0px 250px;">
            <div class="gallery-row">
                <div class="gallery-column" style="flex-direction:column;">
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/ray-i-parker/">
                            <img src="/Portfolio/Icons/LinkedIn.png" alt="LinkedIn Symbol">
                        </a>
                    </div>
                    <div>
                        <h3 style="text-align: center;">
                            <a href="https://www.linkedin.com/in/ray-i-parker/">
                                ray-i-parker
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="gallery-column" style="flex-direction:column;">
                    <div class="icons">
                        <a href="mailto:rapark25@gmail.com">
                            <img src="/Portfolio/Icons/Mail.png" alt="Email Symbol">
                        </a>
                    </div>
                    <div>
                        <h3 style="text-align: center;">
                            <a href="mailto:rapark25@gmail.com">
                                rapark25@gmail.com
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </section>


    </div>
</body>

