@*
    TODO: Header comment
*@
@{
    ViewData["Title"] = "Contact Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Contact</h1>
    </div>

    <h3> don't contact me</h3>

</body>

