@*
    TODO: Header comment
*@
@{
    ViewData["Title"] = "Contact Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Contact</h1>
    </div>


    <div style="text-align:center;">
        <h3 style="text-align:center;"> don't contact me</h3>
        <button class="button" onclick="myFunction()">Please?</button>
    </div>

    <script>
        function myFunction() {
            alert("No.");
        }
    </script>

</body>

