@*
    TODO: Header comment
*@
@{
    ViewData["Title"] = "Portfolio Page";
}

<body class="cream-bg">
    <div class="regular">
        <!-- Introductory portfolio section - header + (optional) description -->
        <section>
            <div>
                <h1 class="display-4"> <b>Portfolio</b></h1>
                <p> lalala description lalalalala </p>
            </div>
        </section>

        <!-- Quick links to three different portfolio sections: Game Dev, Software Dev, and 2D Illustrations -->
        <section id="Quick-Links" class="autumn-bg">
            <div class="row">
                <div class="column">
                    <input type="button" onClick="document.getElementById('Game-Dev').scrollIntoView();" value="Game Dev" />
                </div>
                <div class="column">
                    <input type="button" onClick="document.getElementById('Software-Dev').scrollIntoView();" value="Software Dev" />
                </div>
                <div class="column">
                    <input type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Illustrations" />
                </div>
            </div>
        </section>

        <hr />

        <!-- GAME DEVELOPMENT SECTION -->
        <section id="Game-Dev">
            <h2> <b>Game Development</b></h2>
            <p> lalala description lalalalala </p>
            <br />
            <div style="margin:10px; padding: 10px">
                <div class="row">
                    <div class="column">
                        <!-- Whisker Witchery -->
                        <div class="card">
                            <h1>Whisker Witchery</h1>
                        </div>
                    </div>
                    <div class="column">
                        <!-- Senior Hearts -->
                        <div class="card"> 
                            <h1>Senior Hearts</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <!-- Leaf It Behind -->
                        <div class="card">
                            <h1>Leaf It Behind</h1>
                        </div>
                    </div>
                    <div class="column">
                        <!-- HiveQuest -->
                        <div class="card">
                            <h1>HiveQuest</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <!-- SOFTWARE DEVELOPMENT SECTION -->
        <section id="Software-Dev">
            <h2> <b>Software Development</b></h2>
            <p> lalala description lalalalala </p>
            <br />

            <p>TODO: software dev sections</p>
        </section>

        <hr />

        <!-- 2D ILLUSTRATION SECTION -->
        <section id="2D-Art">
            <h2> <b>2D Illustrations</b></h2>
            <p> lalala description lalalalala </p>
            <br />

            <p>TODO: 2d illustration section</p>
        </section>

    </div>

</body>