@*
    TODO: Header comment
*@
@{
    ViewData["Title"] = "Portfolio Page";
}


<!-- Introductory portfolio section - header + description -->
<section>
    <div class="text-center">
        <h1 class="display-4">Portfolio</h1>
        <p> lorem ipsum ya ya yaya yayayaa yayayya yay. ayyayayaya</p>
    </div>
</section>


<!-- Quick links to three different portfolio sections: Game Dev, Software Dev, and 2D Illustrations -->
<section>

</section>


<!-- GAME DEVELOPMENT SECTION -->
<section>

</section>

<!-- SOFTWARE DEVELOPMENT SECTION -->
<section>

</section>

<!-- 2D ILLUSTRATION SECTION -->
<section>

</section>
