<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>HiveQuest</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../../assets/css/site.css" rel="stylesheet">

</head>

<body>

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom med-brown-bg">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none site-title" href="../../../index.html">
            <svg class="bi me-2" width="40" height="32"><use xlink:href=""></use></svg>
            <span class="cream-text fs-4">Ray Parker</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../Home/About.html">About</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Games.html">Games</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Software.html">Software</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Art.html">Artwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../Home/contact.html">Contact</a>
            </li>
        </ul>
    </header>
    <div class="regular game-project">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    HiveQuest<br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>ROLES:</span> Software Engineering; Production & Organization; 2D Illustrations & Writing </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p>
                        <span>Bee-come the hero in this bug-sized adventure!</span> In a far-off woodland, someone steals the Honeybee Kingdom's entire supply of honey overnight! Amidst the hive's panic, set off on an adventure as Dot, a newly-promoted worker bee, and take down the honey-thieving culprit in this 2.5D RPG adventure experience.<br>                        
                    </p>
                    <p>
                        Brawl against the prime suspects, socialize with other kingdoms at The Buzz, and triumph levels brimming with enemies, collectibles, and silly interludes. Strategically use your honey-themed skills and items to find the honey thief and make your kingdom proud!
                    </p>
                </div>

            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section video-height">
                <iframe style="height: 100%; width: 100%;"
                        src="https://www.youtube.com/embed/4-hj48ht6Ps?mute=1&autoplay=1">                    
                </iframe>
            </div>

            <div class="gallery-row center-section narrow-gallery">
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/ClockIcon.png" />
                    <h5>
                        Dev Time: 3 Months
                    </h5>
                </div>

                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/UserIcon.png" />
                    <h5>
                        Team Size: 8
                    </h5>
                </div>

                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/UE5 Logo.jpg" />
                    <h5>
                        Unreal Engine 5
                    </h5>
                </div>

                <div class="icons">
                    <a target="_blank" href="https://raydowbee.itch.io/hivequest-uofu">
                        <img class="hover-img" src="../../../assets/Portfolio/Icons/ItchIcon.png" />
                    </a>
                    <h5>
                        Play on Itch
                    </h5>
                </div>
            </div>
        </section>

        <hr />

        <!-- PERSONAL CONTRIBUTIONS HEADER SECTION -->
        <section>
            <div>
                <h2 style="text-align:center;"> <b>Personal Contributions</b> </h2>
            </div>
            <div class="quick-links autumn-bg">
                <div class="row">
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('Software').scrollIntoView();" value="Software Engineering" />
                    </div>
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('Production').scrollIntoView();" value="Production" />
                    </div>

                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Art & Writing" />
                    </div>
                </div>
            </div>
        </section>


        <!-- SOFTWARE ENGINEERING SECTION -->
        <section id="Software">
            <div>
                <h3> Software Engineering </h3>
                <br />
            </div>
            <div>
                <ul>
                    <li>
                        Implemented a multi-line dialogue system that links .CSV files to a variety of interactable characters.
                    </li>
                    <li>
                        Handled creating most of the overworld features, which includes gathering and tracking collectibles, animations playing with the correct inputs and timing, adding playable characters and movement, and moving between levels.
                    </li>
                    <li>
                        Added in the UI elements and made sure they transitioned smoothly in all scenarios (e.g. level transitions, fight/explore transitions, victory and defeat screens, pausing, and cutscenes).
                    </li>
                    <li>
                        Miscellaneous bug fixing and mechanic iterations throughout the scope of the project.
                    </li>
                </ul>

                <h6> Note: GitHub Repository is shared upon request </h6>

                <!-- TODO: add videos of software things-->
            </div>
        </section>

        <hr />

        <!-- PRODUCTION & ORGANIZATION SECTION -->
        <section id="Production">
            <div>
                <h3> Production & Organization </h3>
                <br />
            </div>
            <div>
                <ul>                    
                    <li>
                        Organized and led remote weekly meetings to review progress, delegate tasks, and re-evaluate priorities for our agile sprints; additionally, wrote up text summaries of each meeting and their key notes.
                    </li>
                    <li>
                        Created written announcements to clarify delegated work for presentations, sprints, and important milestones, and additionally reflected this using Trello's scrum management.
                    </li>
                    <li>
                        Maintained the publishing and updating of the game to Itch.io and handled the playtest feedback.
                    </li>
                    <li>
                        Regularly communicated deadlines for presentations and sprints.
                    </li>
                </ul>

                <!-- CREDIT/INSPO: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp -->

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/Production/Producer1.png">
                            <img src="../../../assets/Portfolio/HQ/Production/Producer1.webp" alt="Vertical Slice Plan - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/Production/Producer2.png">
                            <img src="../../../assets/Portfolio/HQ/Production/Producer2.webp" alt="Vertical Slice Assignments & Deadlines - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/Production/Producer3.png">
                            <img src="../../../assets/Portfolio/HQ/Production/Producer3.webp" alt="Remote Meeting Summary Notes - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/Production/Producer4.png">
                            <img src="../../../assets/Portfolio/HQ/Production/Producer4.webp" alt="Prototype Presentation Assignments & Deadlines - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <!-- 2D ILLUSTRATIONS & WRITING SECTION -->
        <section id="2D-Art">
            <div>
                <h3> 2D Illustrations & Writing </h3>
                <br />
            </div>

            <div>
                <ul>
                    <li>
                        Illustrated the non-character 2D assets, including collectibles and simple UI elements, and illustrated the NPC bee sprite.                        
                    </li>
                    <li>
                        Designed the linear progression of the game and the intended 2.5D style.
                    </li>
                    <li>
                        Created dialogue for all of the characters and the RPG-themed puns (e.g. "The Buzz" for the bee-themed bar, "Bacardbee" for one of the collectibles, "Bee's Whacks" for a special skill name).
                    </li>
                </ul>

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/2D/LinearDesign.png">
                            <img src="../../../assets/Portfolio/HQ/2D/LinearDesign.webp" alt="Linear Progress Design Sketch - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/2D/HQ6.png">
                            <img src="../../../assets/Portfolio/HQ/2D/HQ6.webp" alt="Victory Screen UI - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/2D/HQ7.png">
                            <img src="../../../assets/Portfolio/HQ/2D/HQ7.webp" alt="Defeat Screen UI - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/2D/Game_Paused_Screen.png">
                            <img src="../../../assets/Portfolio/HQ/2D/Game_Paused_Screen.webp" alt="Game Paused Screen UI - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/2D/BeeNPCSprite.png">
                            <img src="../../../assets/Portfolio/HQ/2D/BeeNPCSprite.webp" alt="Drone Bee NPC Sprite - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/2D/Bacardbee.png">
                            <img src="../../../assets/Portfolio/HQ/2D/Bacardbee.webp" alt="Bacardbee Item Collectible - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 30%; max-width: 30%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/2D/congrats_hivequest.png">
                            <img src="../../../assets/Portfolio/HQ/2D/congrats_hivequest.webp" alt="Congrats HiveQuest Sketch - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 69%; max-width: 69%;">
                        <a target="_blank" href="../../../assets/Portfolio/HQ/2D/BasicUI.png">
                            <img src="../../../assets/Portfolio/HQ/2D/BasicUI.webp" alt="Simple RPG Menu UI - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>