<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Leaf It Behind</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../../assets/css/site.css" rel="stylesheet">

</head>

<body>

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom med-brown-bg">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none site-title" href="../../../index.html">
            <svg class="bi me-2" width="40" height="32"><use xlink:href=""></use></svg>
            <span class="cream-text fs-4">Ray Parker</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../Home/About.html">About</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Games.html">Games</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Software.html">Software</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Art.html">Artwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../Home/contact.html">Contact</a>
            </li>
        </ul>
    </header>

    <div class="regular game-project">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    Leaf It Behind<br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>ROLES:</span> Character Design & Animation; 2D Illustration & Background Art </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p>
                        <span> Restore peace to the storm-wrecked forest! </span> In this 2D sidescroller fishing platformer, play as a flying leopard gecko with a trusty fishing rod. The locals lost their precious belongings in a terrible storm, and Little Bitty is determined to glide across the forest and fish them back up! Meet a cozy cast of animal characters, glide through this serene forest map, and experience one of the most dramatic fishing mini-games in this 36-hour game jam creation.<br>
                    </p>
                </div>

            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section video-height">
                <iframe style="height: 100%; width: 100%;"
                        src="https://www.youtube.com/embed/Z6rxcKGIVw4?mute=1&autoplay=1">                    
                </iframe>
            </div>

            <div class="gallery-row center-section narrow-gallery">
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/ClockIcon.png" />
                    <h5>
                        Dev Time: 36 Hours
                    </h5>
                </div>

                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/UserIcon.png" />
                    <h5>
                        Team Size: 3
                    </h5>
                </div>

                <div class="icons">
                    <img style="padding: 67px 20px;" src="../../../assets/Portfolio/Icons/UnityLogo.png" />
                    <h5>
                        Game Engine: Unity
                    </h5>
                </div>

                <div class="icons">
                    <a target="_blank" href="https://dymander.itch.io/leaf-it-behind">
                        <img class="hover-img" src="../../../assets/Portfolio/Icons/ItchIcon.png" />
                    </a>
                    <h5>
                        Play on Itch
                    </h5>
                </div>
            </div>
        </section>

        <hr />

        <!-- PERSONAL CONTRIBUTIONS HEADER SECTION -->
        <section>
            <div>
                <h2 style="text-align:center;"> <b>Personal Contributions</b> </h2>
            </div>
            <div class="quick-links autumn-bg">
                <div class="row">
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('Character-Art').scrollIntoView();" value="Character Designs" />
                    </div>
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Illustrations" />
                    </div>
                </div>
            </div>
        </section>


        <!-- CHARACTER DESIGN & ANIMATION SECTION -->
        <section id="Character-Art">
            <div>
                <h3> Character Design & Animation </h3>
                <br />
            </div>
            <div>
                <ul>
                    <li>
                        Created four original character designs through a process of concept sketching and reiteration until achieving satisfactory final designs.
                    </li>
                    <li>
                        Illustrated every character design and finalized their in-game assets.
                    </li>
                    <li>
                        Animated idles for the NPCs and multiple movement animations for the main character.
                    </li>
                </ul>

                <!-- CREDIT/INSPO: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp -->

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/Character/Leaf it Behind - Character Design Process.png">
                            <img src="../../../assets/Portfolio/LIB/Character/Leaf it Behind - Character Design Process.webp" alt="Pops' Character Design Iteration Process - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/Character/LB_Idle.gif">
                            <img src="../../../assets/Portfolio/LIB/Character/LB_Idle.gif" alt="Little Bitty Idle Animation - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/Character/LB_Walk.gif">
                            <img src="../../../assets/Portfolio/LIB/Character/LB_Walk.gif" alt="Little Bitty Walk Animation - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/Character/LB_Glide.gif">
                            <img src="../../../assets/Portfolio/LIB/Character/LB_Glide.gif" alt="Little Bitty Glide Animation - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/Character/Hedge_Idle.gif">
                            <img src="../../../assets/Portfolio/LIB/Character/Hedge_Idle.gif" alt="Hedgehog Idle Animation - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/Character/Fox_Idle.gif">
                            <img src="../../../assets/Portfolio/LIB/Character/Fox_Idle.gif" alt="Fox Idle Animation - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/Character/Bird_Idle.gif">
                            <img src="../../../assets/Portfolio/LIB/Character/Bird_Idle.gif" alt="Bird Idle Animation - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <!-- 2D ILLUSTRATIONS & BG ART SECTION -->
        <section id="2D-Art">
            <div>
                <h3> 2D Illustrations & Background Art </h3>
                <br />
            </div>

            <div>
                <ul>
                    <li>
                        Designed and illustrated 12 unique collectibles for the player to discover throughout the game.
                    </li>
                    <li>
                        Illustrated the background elements, including animated details such as waterfall movements and parallax layers for added depth.
                    </li>
                    <li>
                        Designed and animated the title screen, and additionally created other miscellaneous UI elements.
                    </li>
                </ul>

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/2D/FISH.gif">
                            <img src="../../../assets/Portfolio/LIB/2D/FISH.gif" alt="Fishing Indicator Animatoin - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/2D/BonnetCottage.png">
                            <img src="../../../assets/Portfolio/LIB/2D/BonnetCottage.webp" alt="Burrow Cottage Background Art - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/2D/CozyBlanket.png">
                            <img src="../../../assets/Portfolio/LIB/2D/CozyBlanket.webp" alt="Cozy Blanket Interactable Art - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/2D/Money.png">
                            <img src="../../../assets/Portfolio/LIB/2D/Money.webp" alt="Money Interactable Art - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/2D/Knife.png">
                            <img src="../../../assets/Portfolio/LIB/2D/Knife.webp" alt="Knife Interactable Art - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/2D/bg3.png">
                            <img src="../../../assets/Portfolio/LIB/2D/bg3.webp" alt="Background Art Example 1 - Locked Safe Birdhouse - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/2D/Fishing.png">
                            <img src="../../../assets/Portfolio/LIB/2D/Fishing.webp" alt="Background Art Example 2 - Fishing Background - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/LIB/2D/BG2.png">
                            <img src="../../../assets/Portfolio/LIB/2D/BG2.webp" alt="Background Art Example 3 - Hedgehog Burrow - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>