<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Senior Hearts</title>

    <!-- Necessary scripts for navbar mobile functionality -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="./../../../favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../../assets/css/site.css" rel="stylesheet">

</head>

<body>
    <header class="navbar navbar-expand-sm med-brown-bg sticky-top" style="padding: 5px 10px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-pills navbar-collapse collapse w-100" id="mainNav">
            <ul class="navbar-nav w-100 justify-content-center" id="navElements">
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../Home/About.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cream-text header-color" href="../Games.html">
                      Games
                    </a>
                    <div class="dropdown-menu med-brown-bg" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item cream-text header-color" href="WhiskerWitchery.html">Whisker Witchery</a>
                      <a class="dropdown-item cream-text header-color" href="LeafItBehind.html">Leaf It Behind</a>
                      <a class="dropdown-item cream-text header-color" href="HiveQuest.html">HiveQuest</a>
                      <a class="dropdown-item cream-text header-color" href="">Senior Hearts</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cream-text header-color" href="../Software.html">
                      Software
                    </a>
                    <div class="dropdown-menu med-brown-bg" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item cream-text header-color" href="HTTPProxy.html">HTTP Proxy</a>
                      <a class="dropdown-item cream-text header-color" href="RayTracing.html">Ray Tracing</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="../Artwork.html">Artwork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../Home/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="regular game-project compact-section-width">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    Senior Hearts<br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>ROLES:</span> Software Engineering; 2D Illustrations & Character Design </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p>
                        <span>Rescue the hearts of these old soul pups!</span> Welcome to Senior Hearts, an empathetic story-driven game that introduces the lesser-known struggles of old dogs in the shelter system. The Senior Hearts Sanctuary saves older dogs from euthanasia in shelters and gives them a second chance at finding their fur-ever home. Play as a designated dog therapist, Dr. Bones, the day after one of the dogs pass away from heart disease.<br>
                    </p>
                    <p>
                        Earn the camaraderie of this game's old soul cast and explore the four different adoption endings!
                    </p>
                </div>
            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section video-height">
                <iframe style="height: 100%; width: 100%;"
                        src="https://www.youtube.com/embed/CZk0bZCG3_o?mute=1&autoplay=1">
                </iframe>
            </div>

            <div class="gallery-row center-section narrow-gallery">
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/ClockIcon.png" />
                    <h5>
                        Dev Time: 3 Months
                    </h5>
                </div>
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/UserIcon.png" />
                    <h5>
                        Team Size: 4
                    </h5>
                </div>
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/gamemaker.png" />
                    <h5 style="width: 220px;">
                        GameMaker Studio 2
                    </h5>
                </div>
                <div class="icons">
                    <a target="_blank" href="https://palerino.itch.io/senior-hearts">
                        <img class="hover-img" src="../../../assets/Portfolio/Icons/ItchIcon.png" />
                    </a>
                    <h5>
                        Play on Itch
                    </h5>
                </div>                
            </div>
        </section>

        <hr />

        <!-- PERSONAL CONTRIBUTIONS HEADER SECTION -->
        <section>
            <div>
                <h2 style="text-align:center;"> <b>Personal Contributions</b> </h2>
            </div>
            <div class="quick-links autumn-bg">
                <div class="row">
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('Software-Dev').scrollIntoView();" value="Software Engineering" />
                    </div>
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Illustrations" />
                    </div>
                </div>
            </div>
        </section>


        <!-- SOFTWARE ENGINEERING SECTION -->
        <section id="Software-Dev">
            <div>
                <h3> Software Engineering </h3>
                <br />
            </div>
            <div>
                <ul>
                    <li>
                        Implemented a multi-line dialogue system with customizable portraits and event-dependent choices, which influence the player's closeness meters with the main cast.
                    </li>
                    <li>
                        Engineered the item collection system, which triggered unique events and dialogue for specific characters.
                    </li>
                    <li>
                        Handled implementation of UI/UX, sound/music, animations, and level traversal.
                    </li>
                    <li>
                        Created four unique endings, which are determined by the main cast's heart gauge system.
                    </li>
                </ul>
                <!-- TODO: add videos of software things-->
                <h6> Note: GitHub Repository is shared upon request </h6>
            </div>
        </section>

        <hr />

        <!-- 2D ILLUSTRATIONS & WRITING SECTION -->
        <section id="2D-Art">
            <div>
                <h3> 2D Illustrations & Character Design </h3>
                <br />
            </div>

            <div>
                <ul>
                    <li>
                        Designed the dog therapists (i.e. Dr. Bones and Dr. Harley) and illustrated their sprites and portraits.
                    </li>
                    <li>
                        Illustrated the main cast for the unique ending sequences.
                    </li>
                    <li>
                        In-depth research into senior animals in the shelter system and customized ending dialogue to reflect this research.
                    </li>

                </ul>

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="../../../assets/Portfolio/SH/2D/SHCharacterLineup.gif">
                            <img src="../../../assets/Portfolio/SH/2D/SHCharacterLineup.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/SH/2D/DrBonesPortrait.png">
                            <img src="../../../assets/Portfolio/SH/2D/DrBonesPortrait.webp" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 66%; max-width: 66%;">
                        <a target="_blank" href="../../../assets/Portfolio/SH/2D/DrBones.png">
                            <img src="../../../assets/Portfolio/SH/2D/DrBones.webp" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="../../../assets/Portfolio/SH/2D/DrHarley.gif">
                            <img src="../../../assets/Portfolio/SH/2D/DrHarley.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>