<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Whisker Witchery</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../../assets/css/site.css" rel="stylesheet">

</head>

<body>
    <header class="navbar navbar-expand-sm med-brown-bg justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin: 0px 10px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../Home/About.html">About</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="../Games.html">Games</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="../Software.html">Software</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="../Artwork.html">Artwork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../Home/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </header>


    <div class="regular game-project">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    Whisker Witchery<br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>ROLES:</span> Software Engineering; Presentations & User Research; UI/UX Design; 2D Illustrations & Promotional Materials </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p><span>Whisker Witchery has earned 46,000+ downloads with a Very Positive rating on Steam!</span> Additionally, Whisker Witchery reached #2 on the New & Trending Free Games page within a few days of launch.</p>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p> <span>Indulge in the world of witchcraft and tiny thievery!</span> In this 3D stealth platformer, Whisker Witchery follows the journey of a cursed rat exploring a magical world. After their rival witch transformed them into a rat, you must sneak through the rival witch's cottage and collect potion ingredients to become human again. Trek through the spellbound levels influenced by potions, spells, and magic while evading deathly falls and fire-spitting enemies!<br></p>
                    <p>Will you survive the dangers and reach the witch's cauldron? Take your chances in the stealthy adventure of Whisker Witchery!</p>
            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section video-height" data-aos="fade-up">
                <iframe style="height: 100%; width: 100%;"
                        src="https://www.youtube.com/embed/hcRJZoU63gw?mute=1&autoplay=1"
                        name="youtube embed" allow="autoplay; encrypted-media" allowfullscreen>                        
                </iframe>                
            </div>

            <div class="gallery-row center-section narrow-gallery">
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/MysticMoon.png" />
                    <h5>
                        Mystic Moon Studios
                    </h5>
                </div>
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/ClockIcon.png" />
                    <h5>
                        9 Months
                    </h5>
                </div>
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/UserIcon.png" />
                    <h5>
                        Team Size: 30
                    </h5>
                </div>
                <div class="icons">
                    <img src="../../../assets/Portfolio/Icons/UE5 Logo.jpg" />
                    <h5 style="width: 220px;">
                        Unreal Engine 5
                    </h5>
                </div>
                <div class="icons odd-icon">
                    <a target="_blank" href="https://store.steampowered.com/app/2376280/Whisker_Witchery/">
                        <img class="hover-img icon-image" src="../../../assets/Portfolio/Icons/Steam Logo.png" />
                    </a>
                    <h5>
                        Play on Steam
                    </h5>
                </div>
            </div>
        </section>

        <hr />

        <!-- PERSONAL CONTRIBUTIONS HEADER SECTION -->
        <section>
            <div>
                <h2 style="text-align:center;"> <b>Personal Contributions</b> </h2>
            </div>
            <div class="quick-links autumn-bg">
                <div class="row">
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('Software-Dev').scrollIntoView();" value="Software Dev" />
                    </div>
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('User-Research').scrollIntoView();" value="User Research" />
                    </div>
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('UI-UX').scrollIntoView();" value="UI/UX" />
                    </div>
                    <div class="column">
                        <input class="button-row" type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Art & Promo" />
                    </div>
                </div>
            </div>
        </section>


        <!-- SOFTWARE ENGINEERING SECTION -->
        <section id="Software-Dev">
            <div>
                <h3> Software Engineering </h3>
            </div>
            <div>
                <ul>
                    <li>
                        Designed one of the core gameplay loops — growing vines with magical potions and climbing to a goal — and collaborated in engineering the required mechanics.
                    </li>
                    <li>
                        Implemented timed storybook sequences using media players and transitioned them between gameplay sequences.
                    </li>
                    <li>
                        Created a tracking system for the player's collected potion ingredients, which prevents player progression without collecting essential interactable objects.
                    </li>
                    <li>
                        Iterated and developed the checkpoint and respawn systems.
                    </li>
                    <li>
                        Collaborated with engineers to integrate and understand essential mechanics so we can effectively communicate their usage to the design team.
                    </li>                    
                    <li>
                        Miscellaneous bug fixing and mechanic iterations throughout the scope of the project.
                    </li>
                </ul>
                
                <!-- CREDIT/INSPO: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp -->

                <div class="gallery-row">
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/WW/Software/Vine_Illustration_Concept_Art.png">
                            <img src="../../../assets/Portfolio/WW/Software/Vine_Illustration_Concept_Art.webp" alt="Vine Mechanic Concept Art - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="https://www.youtube.com/watch?v=afbctjIBL9A">
                            <img src="../../../assets/Portfolio/WW/Software/WW_CheckpointThumbnail.webp" alt="Whisker Witchery - Checkpoint/Respawn Example - Video Thumbnail">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="https://www.youtube.com/watch?v=E7KVBDWkq_Y">
                            <img src="../../../assets/Portfolio/WW/Software/WW_IngredientsThumbnail.webp" alt="Whisker Witchery - Ingredient Collection Example - Video Thumbnail">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="https://www.youtube.com/watch?v=bRVb7abGUG4">
                            <img src="../../../assets/Portfolio/WW/Software/WW_CoreLoopThumbnail.webp" alt="Whisker Witchery - Climbing Core Loop Example - Video Thumbnail">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <!-- PRESENTATIONS & USER RESEARCH SECTION
            NOTE: add Honors Thesis in this section as well :)
        -->
        <section id="User-Research">
            <div>
                <h3> Presentations & User Research </h3>
            </div>

            <div>
                <ul>
                    <li>
                        Contributed to several presentations throughout the game's pipeline: the initial game idea pitches, milestone presentations, and speaking at promotional events and streams.
                    </li>
                    <li>
                        Organized different types of playtests, recorded points of interest (i.e. positive feedback, bugs, constructive criticism), and shared them with the user research team. Usually included extra feedback such as gameplay recordings or playtester writeups.
                    </li>
                    <li>
                        Collaborated frequently with the QA team to identify and fix issues.
                    </li>
                </ul>
            
                <div class="gallery-row">
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UR/WhiskerWitchery_TeamPicture.png">
                            <img src="../../../assets/Portfolio/WW/UR/WhiskerWitchery_TeamPicture.webp" alt="Whisker Witchery Group Photo">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UR/WW_EAELaunch.png">
                            <img src="../../../assets/Portfolio/WW/UR/WW_EAELaunch.webp" alt="Whisker Witchery EAE Launch Presentation Photo">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UR/URNote1.png">
                            <img src="../../../assets/Portfolio/WW/UR/URNote1.webp" alt="User Research Notes 1 - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UR/URNote2.png">
                            <img src="../../../assets/Portfolio/WW/UR/URNote2.webp" alt="User Research Notes 2 - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UR/WW_EAELaunch2.png">
                            <img src="../../../assets/Portfolio/WW/UR/WW_EAELaunch2.webp" alt="Whisker Witchery EAE Launch Presentation Photo 2">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <!-- UI/UX DESIGN SECTION -->
        <section id="UI-UX">
            <div>
                <h3> UI/UX Design </h3>
            </div>

            <div>
                <ul>
                    <li>
                        Drafted thumbnails for UI/UX features and iterated on them to create screen and HUD layouts.
                    </li>
                    <li>
                        Designed, illustrated, and programmed an introductory scroll sequence to communicate the player's objectives.
                    </li>
                    <li>
                        Created most of the UI icons, including the control buttons for the gameplay HUD and icons for the interactable ingredients.
                    </li>
                </ul>

                <div class="gallery-row">
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UI/HUDThumbnailSketches_WW.png">
                            <img src="../../../assets/Portfolio/WW/UI/HUDThumbnailSketches_WW.webp" alt="Whisker Witchery HUD Design Thumbnail Sketches - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UI/WW_HUDScreenshot_edited.jpg">
                            <img src="../../../assets/Portfolio/WW/UI/WW_HUDScreenshot_edited.webp" alt="Whisker Witchery Final HUD Design">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UI/WW_TutorialScroll_Sketch.png">
                            <img src="../../../assets/Portfolio/WW/UI/WW_TutorialScroll_Sketch.webp" alt="Tutorial Scroll Sketch - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="https://www.youtube.com/watch?v=C-_WTGIemjs">
                            <img src="../../../assets/Portfolio/WW/UI/WW_ScrollThumbnail.webp" alt="Tutorial Scroll Final - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UI/TitleScreenThumbnails_WW_RP.png">
                            <img src="../../../assets/Portfolio/WW/UI/TitleScreenThumbnails_WW_RP.webp" alt="Title Screen Thumbnail Sketches - Ray Parker">
                        </a>
                    </div>
                </div>

                <br> 

                <h4 style="text-align: center;"> UI Button Iteration:</h4>
                <ul>
                    <li>
                        <span>First Iteration</span> - Created aim, hide, sprint, and squeak buttons
                    </li>
                    <li>
                        <span>Second Iteration</span> - Drafted several new sprint buttons and experimented with new background colors; settled on bottom-left design
                    </li>
                    <li>
                        <span>Last Iteration</span> - Finalized previous buttons, changed color schemes, and refactored sprint icon
                    </li>
                </ul>

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 25%; max-width: 25%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UI/Buttons1.png">
                            <img src="../../../assets/Portfolio/WW/UI/Buttons1.webp" alt="First iteration of UI Button design">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 25%; max-width: 25%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UI/Buttons2.png">
                            <img src="../../../assets/Portfolio/WW/UI/Buttons2.webp" alt="Iteration example on sprint UI button designs">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 50%; max-width: 50%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/UI/WW_UI_Icons.png">
                            <img src="../../../assets/Portfolio/WW/UI/WW_UI_Icons.webp" alt="Finalized UI buttons - Ray Parker">
                        </a>
                    </div>
                </div>
                

            </div>

        </section>

        <hr />

        <!-- 2D ILLUSTRATIONS & PROMOTIONAL MATERIALS SECTION -->
        <section id="2D-Art">
            <div>
                <h3> 2D Illustrations & Promotional Materials </h3>
            </div>
            <div>
                <ul>
                    <li>
                        Created and pitched the one-sheet idea document, including the initial game idea and concept illustrations.
                    </li>
                    <li>
                        Collaborated with other 2D artists to organize and create the storybook sequences and style guide.
                    </li>
                    <li>
                        Created lineart for the storybook introduction, and collaborated with other 2D artists to create final storybook illustrations.
                    </li>
                    <li>
                        Illustrated promotional materials to advertise our social media accounts and important milestones, such as early access announcements and social media banners.
                    </li>
                </ul>

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 66%; max-width: 66%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/2D/Promo_WW.png">
                            <img src="../../../assets/Portfolio/WW/2D/Promo_WW.webp" alt="Whisker Witchery Promotional Banner - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/2D/EarlyAccessPromo_WW.png">
                            <img src="../../../assets/Portfolio/WW/2D/EarlyAccessPromo_WW.webp" alt="Whisker Witchery Early Access Promo - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/2D/StorybookIntroLines_1_WW.png">
                            <img src="../../../assets/Portfolio/WW/2D/StorybookIntroLines_1_WW.webp" alt="Storybook Intro Lineart Page 1 - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/2D/StorybookIntroLines_6_WW.png">
                            <img src="../../../assets/Portfolio/WW/2D/StorybookIntroLines_6_WW.webp" alt="Storybook Intro Lineart Page 6 - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="../../../assets/Portfolio/WW/2D/StorybookIntroLines_10_WW.png">
                            <img src="../../../assets/Portfolio/WW/2D/StorybookIntroLines_10_WW.webp" alt="Storybook Intro Lineart Page 10 - Ray Parker">
                        </a>
                    </div>
                </div>  
            </div>
        </section>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

    </div>
</body>