/*
    HEX CODES:
    Cream: #FFF5EB
    Soft brown:#DFBF9F
    Medium brown: #7E5439
    Hard Brown: #592B15
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    text-align: left;
    text-indent: 25px;
    margin-bottom: 60px;
}

/* ---- Text/BG color classes ----*/
.cream-text {
    color: #FFF5EB;
}

.cream-bg {
    background-color: #FFF5EB;
}

.med-brown-text {
    font-weight: 600;
    text-align: justify;
    color: #9c664b;
}

.med-brown-bg {
    background-color: #7E5439;
}

/* ---- Navbar ----*/

.nav-link:hover {
    color: #FFF5EB !important;
    opacity: 50%;
    --bs-link-hover-color: #FFF5EB;
}

#navbar {
    transition: ease-in-out 0.3s;
    background-color: #7E5439;
}

/* ---- Flexbox ----*/

.flex-container div {
    margin: 10px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* ---- Index Page ----*/

.center-parent-img {
    position: relative;
    top: 0;
    left: 0;
    width: 110vh;
}

.center-child-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
}

.regular span {
    color: #000000;
    border-bottom: 2px solid #9c664b;
    font-weight: bold;
}

.regular h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-indent: 25px;
    text-align: left;
    color: #9c664b;
}

.autumn-bg {
    background-image: url("../About/AutumnBG_AdobeStock.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 650px;
}

.button {
    background-color: #000000;
    border: none;
    color: #FFF5EB !important;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.button:hover {
    transition: 0.5s;
    transform: scale(0.95, 0.95);
}

#index-button-row {
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    padding: 10px;
}

/* ---- Portfolio Page ----*/

#Quick-Links {
    margin: 10px;
    padding: 35px 35px;
}

#Quick-Links input {
    background-color: #000000;
    border: none;
    color: #FFF5EB;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

#Quick-Links input:hover {
    color: #FFF5EB;
    opacity: 75%;
}

#Quick-Links.autumn-bg {
    background-image: url("../About/AutumnBG_AdobeStock.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 100px;
}

#Gave-Dev.div {
    margin:5px;
}

#Software-Dev {

}

#2D-Art {

}

.hide {
    position: absolute;
    transform: translateY(-110%);
    pointer-events: none;
    margin: 10px;
    height: 90%;
}

.card-fonts {
    padding: 15px;
    text-align: center !important;
}

.card {
    height: 400px;
    margin: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    background-color: #DFBF9F;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(223, 191, 159, 0.5);
    overflow: hidden;
    pointer-events: auto;
}

.card-text-old {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
}

.card-text {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center !important;
}

#Whisker-Witchery .card-bg {
    background-image: url("../Portfolio/WhiskerWitcheryThumbnail.png");
    background-size: cover;
    background-position: left;
    overflow: hidden;
}

.card-bg {
    height:100%;
}

.card-bg:hover, .hide:hover {
    transition: 0.5s;
    transform: scale(1.1, 1.1);
    -webkit-filter: blur(2px);
    box-shadow: 3px 3px 15px 7px rgba(0,0,0,0.25), -3px -3px 15px 7px rgba(0,0,0,0.22);
}

#Whisker-Witchery .card-bg:hover, #Senior-Hearts .card-bg:hover, #Leaf-It-Behind .card-bg:hover, #HiveQuest .card-bg:hover {
    filter: brightness(20%);
}

.card-bg:hover h1 {
    transform: translateY(130%);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.card:hover .hide {
    transition: ease-in-out 0.2s;
    transform: translateY(0%);
}

.title-white {
    color: #FFF5EB !important;
}

.title-black {
    color: black !important;
}

.hr {
    margin: 20px;
    padding: 20px;
    color: #592B15;
}

/* ---- whisker Witchery ----*/

.h1-f474de {
    text-align: center;
}

.p-33b2d2 {
    font-size: 19px;
    text-indent: 25px;
}

@media screen and (min-width: 576px) {

    .h1-f474de {
        text-align: center;
    }

    .p-33b2d2 {
        font-size: 12px;
    }
}

