/*
    HEX CODES:
    Cream: #FFF5EB
    Soft brown:#DFBF9F
    Medium brown: #7E5439
    Hard Brown: #592B15
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* ---- Text/BG color classes ----*/
.cream-text {
    color: #FFF5EB;
}

.cream-bg {
    background-color: #FFF5EB;
}

.med-brown-text {
    font-weight: 600;
    text-align: justify;
    color: #9c664b;
}

.med-brown-bg {
    background-color: #7E5439;
}

/* ---- Navbar ----*/

.nav-link:hover {
    color: #FFF5EB !important;
    opacity: 50%;
    --bs-link-hover-color: #FFF5EB;
}

#navbar {
    transition: ease-in-out 0.3s;
    background-color: #7E5439;
}

/* ---- Flexbox ----*/

.flex-container div {
    margin: 10px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

}

/* ---- Index Page ----*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}

.center-div {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    overflow: hidden;
}

.center-parent-img {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    width: 110vh;
}

.center-child-img {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #000000;
    width: 60%;
    transform: translate(-50%,-50%);
}

.regular span {
    color: #000000;
    border-bottom: 2px solid #9c664b;
    font-weight: bold;
}

.regular h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-align: justify;
    color: #9c664b;
}

.autumn-bg {
    background-image: url("../About/AutumnBG_AdobeStock.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 650px;
}

.button {
    background-color: #000000;
    border: none;
    color: #FFF5EB;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

#index-button-row {
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 50%;
    border: 1px solid #000000;
    width: 80%;
    transform: translate(-50%,-50%);
    padding: 10px;
}

/* ---- Portfolio Page ----*/

#Quick-Links {
    margin: 10px;
    padding: 35px 35px;
}


#Quick-Links input {
    background-color: #000000;
    border: none;
    color: #FFF5EB;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

#Quick-Links input:hover {
    color: #FFF5EB;
    opacity: 75%;
}

#Quick-Links.autumn-bg {
    background-image: url("../About/AutumnBG_AdobeStock.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 100px;
}

#Gave-Dev {

}

#Software-Dev {

}

#2D-Art {

}
