/*
    HEX CODES:
    Cream: #FFF5EB
    Soft brown:#DFBF9F
    Medium brown: #7E5439
    Hard Brown: #592B15
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Add header id; move buttons to righthand side; add navbar id*/

/* ---- Text/BG color classes ----*/
.cream-text {
    color: #FFF5EB;
}

.cream-bg {
    background-color: #FFF5EB;
}

.med-brown-text {
    font-weight: 600;
    text-align: justify;
    color: #9c664b;
}

.med-brown-bg {
    background-color: #7E5439;
}

/* ---- Navbar ----*/
#navbar {
    transition: ease-in-out 0.3s;
    background-color: #7E5439;
}

/* ---- Flexbox ----*/
.flex-container {
    display: flex;
    background-color: #32a852;
}

.flex-container div {
    background-color: #c9d1cb;
    margin: 10px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}

.center-div {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    overflow: hidden;
}

.center-parent-img {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    width: 110vh;
}

.center-child-img {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #000000;
    width: 60%;
    transform: translate(-50%,-50%);
}

section span {
    color: #000000;
    border-bottom: 2px solid #9c664b;
    font-weight: bold;
}

/* This class ensures that specific font colors/weights are used for the page*/
section .regular span {
    color: #000000;
    border-bottom: 2px solid #9c664b;
    font-weight: bold;
}
section .regular h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-align: justify;
    color: #9c664b;
}