<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Ray Parker - About</title>

    <!-- Necessary scripts for navbar mobile functionality -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="../../favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/site.css" rel="stylesheet">
    <link href="../../assets/css/Polaroid.css" rel="stylesheet">
    <link href="../../assets/css/photo-gallery.css" rel="stylesheet">

</head>

<body>
    <header class="navbar navbar-expand-sm med-brown-bg sticky-top" style="padding: 5px 10px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-pills navbar-collapse collapse w-100" id="mainNav">
            <ul class="navbar-nav w-100 justify-content-center" id="navElements">
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cream-text header-color" href="../Portfolio/Games.html">
                      Games
                    </a>
                    <div class="dropdown-menu med-brown-bg" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item cream-text header-color" href="../Portfolio/Projects/WhiskerWitchery.html">Whisker Witchery</a>
                      <a class="dropdown-item cream-text header-color" href="../Portfolio/Projects/LeafItBehind.html">Leaf It Behind</a>
                      <a class="dropdown-item cream-text header-color" href="../Portfolio/Projects/HiveQuest.html">HiveQuest</a>
                      <a class="dropdown-item cream-text header-color" href="../Portfolio/Projects/SeniorHearts.html">Senior Hearts</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cream-text header-color" href="../Portfolio/Software.html">
                      Software
                    </a>
                    <div class="dropdown-menu med-brown-bg" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item cream-text header-color" href="../Portfolio/Projects/HTTPProxy.html">HTTP Proxy</a>
                      <a class="dropdown-item cream-text header-color" href="../Portfolio/Projects/RayTracing.html">Ray Tracing</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="../Portfolio/Artwork.html">Artwork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </header>
    
    <div class="compact-section-width">
        <div class="user-characters-gallery characters-gallery">
            <div class="gallery-row">
                <div class="about-intro-text gallery-column">
                    <div class="regular">
                        <div data-aos="fade-right">
                            <h1 class="display-5" style="text-align: center;  text-indent: 0px;"> <b>About</b></h1>
                            <h4 style="text-align:center; color: #592B15"> A cute little page about who I am outside of my projects!</h4>
                            <hr />
                            <h4 style="padding: 0px;text-indent: 20px !important;"> In 2023, I graduated from the University of Utah with a Bachelor's in Honors Computer Science and an emphasis in Games. With my love for both creative and technical disciplines, I am planning to earn my Master's in Technical Art within the coming years.</h4>
                            <br>
                            <h4 style="padding: 0px;text-indent: 20px !important;"> I love learning how things are created, whether it's through the game development pipeline or all the roles involved in video production. Multidiscplinary work is my passion and I'm excited to continue collaborating with brilliant minds on breathtaking projects.</h4>
                            <br />
                        </div>        
                    </div>
                </div>
                <div class="about-intro gallery-column">
                    <img src="../../assets/About/RayColor.webp" alt="Ray Parker Doodle Portrait" >
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 align-items-center spooky-bg">        


    <!-- Ray Photo Section on desktop-->
        <div class="desktop-photos-scroll compact-section-width">
            <div class="d-flex flex-wrap justify-content-center py-3 mb-4 align-items-center spooky-bg">
                <div class="pic-gallery-row" style="margin: 0px 80px; max-width: 1195px;">
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic9.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic9.webp">                        
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg pic-short">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic3.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic3.webp">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic5.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic5.webp">                            
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic10.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic10.webp">                        
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg" style="transform: scale(200%);">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic2.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic2.webp">
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg pic-top">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic4.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic4.webp">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg pic-short">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic13.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic13.webp">                        
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic15.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic15.webp">                        
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="About compact-section-width" style="margin:10px 80px">
            <!-- Ray Writing Section -->
            <h4 class="cream-textbox">I love working in multimedia and creating breathtaking experiences! I have been drawing for all of my life and picking up any artistic skill that I can since then. I have five Adobe Associate certifications and have actively created responsive video games and websites for years. I love finding ways to combine different mediums to create something new and immersive, and I want to bring my work into all sorts of mediums and fields — video games, websites, video production, comics, wherever I can!</h4>

            <!-- Ray Photo Scroll Section -->

                <!-- ANIMAL ACTIVIST - Widescreen/desktop-friendly version -->
                <div class="desktop-scroll">
                    <div class="scroll-paper">
                        <div class="scroll-text">
                            <h4>I couldn't imagine my life without animals in it! I worked professionally in the pet industry for years, and I still give back to the community by fostering and volunteering through local animal nonprofits. Dogs have such a special place in my heart in particular — they are so playful and endearing, and they've taught me so much about loving life and being present. I especially love my dog Harley (he's in the picture); he's my goofy little best friend!</h4>
                        </div>
                    </div>
                    <div class="text-center gallery-thumb character-thumb gallery-item scroll-picture">
                        <div class="thumb-image">
                            <img src="../../assets/About/RayPhotos/RayPic14.webp" alt="Ray Parker Portrait" class="img-thumbnail"style="max-height: 350px;">
                        </div>                    
                        <div class="thumb-caption">
                            <span class="thumb-character-name">
                                <div class="btn btn-sm btn-primary character-name-badge">
                                    Animal Activist
                                </div>
                            </span>                        
                        </div>
                    </div>
                </div>
    
                <!-- ANIMAL ACTIVIST - Narrow/mobile-friendly version -->
                <div class="mobile-scroll">
                    <div class="gallery-row">
                        <div class="polaroid-column">
                            <div class="text-center gallery-thumb character-thumb gallery-item scroll-picture">
                                <div class="thumb-image">
                                    <img src="../../assets/About/RayPhotos/RayPic14.webp" alt="Ray Parker Portrait" class="img-thumbnail" style="max-height: 350px;">
                                </div>
                                <div class="thumb-caption">
                                    <span class="thumb-character-name">
                                        <div class="btn btn-sm btn-primary character-name-badge">
                                            Animal Activist
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="polaroid-text-column">
                            <h4 class="cream-textbox">I couldn't imagine my life without animals in it! I worked professionally in the pet industry for years, and I still give back to the community by fostering and volunteering through local animal nonprofits. Dogs have such a special place in my heart in particular — they are so playful and endearing, and they've taught me so much about loving life and being present. I especially love my dog Harley (he's in the picture); he's my goofy little best friend!</h4>
                        </div>
                    </div>
                </div>
            
            <!-- FAVORITE GAMES - Widescreen/desktop-friendly version -->
            <div class="desktop-scroll">
                <div class="scroll-paper">
                    <div class="scroll-text">
                        <h4>When I was six years old, a video game spin-off series, Pokemon Mystery Dungeon, inspired my love for art and video games. I fell in love with the lively narrative and gameplay, and I have always wanted to create an experience to felt just as special. I've loved Pokemon games ever since, but some of my other favorite games are Psychonauts 2, Animal Crossing, Fe, and RPGMaker horror games such as Omori and Ib.</h4>
                    </div>
                </div>
                <div class="text-center gallery-thumb character-thumb gallery-item scroll-picture">
                    <div class="thumb-image">
                        <img src="../../assets/About/RayPhotos/Photo2.webp" alt="Ray Parker Portrait" class="img-thumbnail" style="max-height: 350px;">
                    </div>
                    <div class="thumb-caption">
                        <span class="thumb-character-name">
                            <div class="btn btn-sm btn-primary character-name-badge">
                                Favorite Games
                            </div>
                        </span>
                    </div>
                </div>                
            </div>
        
            <!-- FAVORITE GAMES - Narrow/mobile-friendly version -->
            <div class="mobile-scroll">
                <div class="gallery-row">
                    <div class="polaroid-column">
                        <div class="text-center gallery-thumb character-thumb gallery-item scroll-picture">
                            <div class="thumb-image">
                                <img src="../../assets/About/RayPhotos/Photo2.webp" alt="Ray Parker Portrait" class="img-thumbnail" style="max-height: 350px;">
                            </div>
                            <div class="thumb-caption">
                                <span class="thumb-character-name">
                                    <div class="btn btn-sm btn-primary character-name-badge">
                                        Favorite Games
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="polaroid-text-column">
                        <h4 class="cream-textbox">When I was six years old, a video game spin-off series, Pokemon Mystery Dungeon, inspired my love for art and video games. I fell in love with the lively narrative and gameplay, and I have always wanted to create an experience to felt just as special. I've loved Pokemon games ever since, but some of my other favorite games are Psychonauts 2, Animal Crossing, Fe, and RPGMaker horror games such as Omori and Ib.</h4>
                    </div>
                </div>
            </div>


            <!-- NATURE & COFFEE - Widescreen/desktop-friendly version -->
            <div class="desktop-scroll">
                <div class="scroll-paper">
                    <div class="scroll-text">
                        <h4> I love coffee; I love nature! Both are huge sources of fun and comfort for me. Especially by living in Utah, I love taking advantage of the beautiful mountains here! In the warmer months, I love exploring hiking trails, planning picnics, and making flower crowns for my friends. I also love the cozy mumblings of a coffee shop and seeing which place can serve the best chai. Coffee shops are my favorite spaces for productivity and staying connected with local communities. </h4>
                    </div>
                </div>
                <div class="text-center gallery-thumb character-thumb gallery-item scroll-picture">
                    <div class="thumb-image">
                        <img src="../../assets/About/RayPhotos/Photo3.webp" alt="Ray Parker Portrait" class="img-thumbnail"style="max-height: 350px;">
                    </div>                    
                    <div class="thumb-caption">
                        <span class="thumb-character-name">
                            <div class="btn btn-sm btn-primary character-name-badge">
                                Nature & Coffee
                            </div>
                        </span>                        
                    </div>
                </div>
            </div>

            <!-- NATURE & COFFEE  - Narrow/mobile-friendly version -->
            <div class="mobile-scroll">
                <div class="gallery-row">
                    <div class="polaroid-column">
                        <div class="text-center gallery-thumb character-thumb gallery-item scroll-picture">
                            <div class="thumb-image">
                                <img src="../../assets/About/RayPhotos/Photo3.webp" alt="Ray Parker Portrait" class="img-thumbnail" style="max-height: 350px;">
                            </div>
                            <div class="thumb-caption">
                                <span class="thumb-character-name">
                                    <div class="btn btn-sm btn-primary character-name-badge">
                                        Nature & Coffee
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="polaroid-text-column">
                        <h4 class="cream-textbox">I love coffee; I love nature! Both are huge sources of fun and comfort for me. Especially by living in Utah, I love taking advantage of the beautiful mountains here! In the warmer months, I love exploring hiking trails, planning picnics, and making flower crowns for my friends. I also love the cozy mumblings of a coffee shop and seeing which place can serve the best chai. Coffee shops are my favorite spaces for productivity and staying connected with local communities.</h4>
                    </div>
                </div>
            </div>

            <!-- LIFELONG LEARNER - Widescreen/desktop-friendly version -->
            <div class="desktop-scroll">
                <div class="scroll-paper">
                    <div class="scroll-text">
                        <h4>Life is about learning! I love approaching life by wanting to try new things, especially if my friends are involved. Just from the last year, I picked up skateboarding, bouldering, hand-painting hoodies, and discovering new movies and music through my friends. Change is incredible, and I couldn't stay driven without finding something new and exciting to do. I do my best to stay open-minded to life's opportunities and making every day a new adventure.</h4>
                    </div>
                </div>
                <div class="text-center gallery-thumb character-thumb gallery-item scroll-picture">
                    <div class="thumb-image">
                        <img src="../../assets/About/RayPhotos/Photo1.webp" alt="Ray Parker Portrait" class="img-thumbnail" style="max-height: 350px;">
                    </div>
                    <div class="thumb-caption">
                        <span class="thumb-character-name">
                            <div class="btn btn-sm btn-primary character-name-badge">
                                Lifelong Learner
                            </div>
                        </span>
                    </div>
                </div>
            </div>

        <!-- LIFELONG LEARNER - Narrow/mobile-friendly version -->
        <div class="mobile-scroll">
            <div class="gallery-row">
                <div class="polaroid-column">
                    <div class="text-center gallery-thumb character-thumb gallery-item scroll-picture">
                        <div class="thumb-image">
                            <img src="../../assets/About/RayPhotos/Photo1.webp" alt="Ray Parker Portrait" class="img-thumbnail" style="max-height: 350px;">
                        </div>
                        <div class="thumb-caption">
                            <span class="thumb-character-name">
                                <div class="btn btn-sm btn-primary character-name-badge">
                                    Lifelong Learner
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="polaroid-text-column">
                    <h4 class="cream-textbox">Life is about learning! I love approaching life by wanting to try new things, especially if my friends are involved. Just from the last year, I picked up skateboarding, bouldering, hand-painting hoodies, and discovering new movies and music through my friends. Change is incredible, and I couldn't stay driven without finding something new and exciting to do. I do my best to stay open-minded to life's opportunities and making every day a new adventure.</h4>
                </div>
            </div>
        </div>
        

        </div>



        <!-- Ray Photo Section on mobile-->
        <div class="mobile-photos-scroll">
            <div class="d-flex flex-wrap justify-content-center py-3 mb-4 align-items-center spooky-bg">        
                <div class="pic-gallery-row" style="margin: 0px 80px;">
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic9.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic9.webp">                        
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg pic-short">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic3.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic3.webp">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic5.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic5.webp">                            
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic10.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic10.webp">                        
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg" style="transform: scale(200%);">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic2.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic2.webp">
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg pic-top">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic4.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic4.webp">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg pic-short">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic13.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic13.webp">                        
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic-gallery-column">
                        <div class="pic-card">
                            <div class="pic-card-bg">
                                <a target="_blank" href="../../assets/About/RayPhotos/RayPic15.jpg">
                                    <img src="../../assets/About/RayPhotos/RayPic15.webp">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>