<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Ray Parker - Home</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/site.css" rel="stylesheet">
    <link href="../../assets/css/photo-gallery.css" rel="stylesheet">
    <link href="../../assets/css/Polaroid.css" rel="stylesheet">

</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom med-brown-bg">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="">About</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Portfolio/Games.html">Games</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Portfolio/Software.html">Software</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Portfolio/Artwork.html">Artwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="Contact.html">Contact</a>
            </li>
        </ul>
    </header>

    <div class="About">
        <div class="user-characters-gallery characters-gallery">
            <div class="gallery-row">
                <div class="gallery-column" style="flex: 60%; max-width: 60%;">
                    <div class="regular">
                        <div class="" data-aos="fade-right">

                            <h1 class="display-5" style="text-align: center;  text-indent: 0px;"> <b>About</b></h1>
                            <h4 style="text-align:center; color: #592B15"> A cute little page about who I am outside of my projects!</h4>
                            <hr />
                            <h4 style="padding: 0px;text-indent: 20px !important;"> In 2023, I graduated from the University of Utah with a Bachelor's in Honors Computer Science with a Games emphasis. In the coming years, I am planning to earn a Master's in Technical Art in Games. </h4>
                            <h4 style="padding: 20px 0px;text-indent: 20px !important;"> Since working as a freelance illustrator, I couldn't imagine a life without working in both creative and technical disciplines, hence my love for video games and web development! I am excited to use my passions to continue making innovative, interactive experiences.</h4>
                            <br />
                        </div>        
                    </div>
                </div>
                <div class="gallery-column" style="flex: 40%; max-width: 40%; padding: 30px;">
                    <img src="../../assets/About/RayColor.png" alt="Ray Parker Doodle Portrait" >
                </div>
            </div>
        </div>
    </div>

    <!-- Ray Photo Section -->
    <div class="d-flex spooky-bg">
        <div class="regular pic-gallery-row">
            <div class="pic-gallery-column">
                <!-- Whisker Witchery -->
                <div class="pic-card">
                    <div class="pic-card-bg">
                        <img src="assets/About/RayPhotos/RayPic2.jpg">
                    </div>
                </div>
            </div>
            <div class="pic-gallery-column">
                <!-- Whisker Witchery -->
                <div class="pic-card">
                    <div class="pic-card-bg pic-top">
                        <img src="assets/About/RayPhotos/RayPic4.jpg">
                    </div>
                </div>
            </div>
            <div class="pic-gallery-column">
                <!-- Whisker Witchery -->
                <div class="pic-card">
                    <div class="pic-card-bg">
                        <img src="assets/About/RayPhotos/RayPic4.jpg">
                    </div>
                </div>
            </div>
            <div class="pic-gallery-column">
                <!-- Whisker Witchery -->
                <div class="pic-card">
                    <div class="pic-card-bg pic-bottom">
                        <img src="assets/About/RayPhotos/RayPic4.jpg">
                    </div>
                </div>
            </div>
            <div class="pic-gallery-column">
                <!-- Whisker Witchery -->
                <div class="pic-card">
                    <div class="pic-card-bg pic-bottom">
                        <img src="assets/About/RayPhotos/RayPic4.jpg">
                    </div>
                </div>
            </div>
    
            <div class="pic-gallery-column">
                <!-- Whisker Witchery -->
                <div class="pic-card">
                    <div class="pic-card-bg pic-bottom">
                        <img src="assets/About/RayPhotos/RayPic4.jpg">
                    </div>
                </div>
            </div>
            <div class="pic-gallery-column">
                <!-- Whisker Witchery -->
                <div class="pic-card">
                    <div class="pic-card-bg pic-bottom">
                        <img src="assets/About/RayPhotos/RayPic4.jpg">
                    </div>
                </div>
            </div>
            <div class="pic-gallery-column">
                <!-- Whisker Witchery -->
                <div class="pic-card">
                    <div class="pic-card-bg pic-bottom">
                        <img src="assets/About/RayPhotos/RayPic4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>