<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Ray Parker - Home</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/site.css" rel="stylesheet">
    <link href="../../assets/css/Polaroid.css" rel="stylesheet">


</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom med-brown-bg">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="">About</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Portfolio/Games.html">Games</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Portfolio/Software.html">Software</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="../Portfolio/Artwork.html">Artwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="Contact.html">Contact</a>
            </li>
        </ul>
    </header>

    <div class="About">
        <div class="user-characters-gallery characters-gallery">
            <div class="gallery-row">
                <div class="gallery-column" style="flex: 33%; max-width: 33%; padding: 30px;">
                    <div class="text-center gallery-thumb character-thumb gallery-item">
                        <div class="thumb-image">
                            <img src="../../assets/About/RayPic1.jpg" alt="Ray Parker Portrait" class="img-thumbnail"style="max-height: 350px;">
                        </div>                    
                        <div class="thumb-caption">
                            <span class="thumb-character-name">
                                <div class="btn btn-sm btn-primary character-name-badge">
                                    Ray Parker
                                    <p>She/They</p>
                                </div>
                            </span>                        
                        </div>
                    </div>
                </div>
                <div class="gallery-column" style="flex: 66%; max-width: 66%;">
                    <div class="regular">
                        <div class="" data-aos="fade-right">
                            <h1 style="padding: 30px; text-align:center;"><b>Hi, I'm Ray!</b></h1>
                            <h4 style="text-align:center; color: #592B15"> I am a <span>software engineer</span> and a <span>technical artist</span>.</h4>
                            <hr />
                            <h4 style="padding: 0px;text-indent: 20px !important;"> In 2023, I graduated from the University of Utah with a Bachelor's in Honors Computer Science with a Games emphasis. In the coming years, I am planning to earn a Master's in Technical Art in Games. </h4>
                            <h4 style="padding: 20px 0px;text-indent: 20px !important;"> Since working as a freelance illustrator, I couldn't imagine a life without working in both creative and technical disciplines, hence my love for video games and web development! I am excited to use my passions to continue making innovative, interactive experiences.</h4>
                            <br />
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom spooky-bg align-items-center">
        <body>
            <div class="regular card-gallery-row">
                <div class="card-gallery-column">
                        <!-- PKMN Mystery Dungeon -->
                        <div id="PMD" class="card">
                            <div class="cream-text card-bg">
                                <h1 class="card-text title-white">Pokemon Mystery Dungeon</h1>
                            </div>
                            <div class="hide title-white card-fonts">
                                <div class="column">
                                    <h3 class="title-white">Whisker Witchery</h3>
                                    <hr />
                                    <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                    <div class="column">
                                        <ul class="title-white mobile-text">
                                            <li>
                                                Software Engineering
                                            </li>
                                            <li>
                                                Presentations & User Research
                                            </li>
                                            <li>
                                                UI/UX Design
                                            </li>
                                            <li>
                                                2D Illustrations & Promotional Materials
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                            <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                                READ MORE
                                            </h5>
                                        </div>
                                        <div class="column">
                                            <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card-gallery-column">
                    <!-- Leaf It Behind -->
                    <div id="Leaf-It-Behind" class="card">
                        <a class="cream-text card-bg" href="Views/Portfolio/LeafItBehind.html">
                            <h1 class="card-text title-white">Leaf It Behind</h1>
                        </a>
                        <div class="hide title-white card-fonts">
                            <div class="column">
                                <h3 class="title-white">Leaf It Behind</h3>
                                <hr />
                                <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                <div class="column">
                                    <ul class="title-white mobile-text">
                                        <li>
                                            Character Design
                                        </li>
                                        <li>
                                            Character Animation
                                        </li>
                                        <li>
                                            2D Illustrations
                                        </li>
                                        <li>
                                            Background Art
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                        <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                            READ MORE
                                        </h5>
                                    </div>
                                    <div class="column">
                                        <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>