<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Contact</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/site.css" rel="stylesheet">
    <link href="../../assets/css/contact.css" rel="stylesheet">
    

</head>

<body>

    <header class="navbar navbar-expand-sm med-brown-bg justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin: 0px 10px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="About.html">About</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="../Portfolio/Games.html">Games</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="../Portfolio/Software.html">Software</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="../Portfolio/Artwork.html">Artwork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="">Contact</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="regular compact-section-width">
        <section>
            <div>
                <h1 class="display-5" style="text-align: center; text-indent: 0px;"><b>Contact</b></h1>
            </div>
            
            <div>
                <h3 style="text-align: center;"> I would love to connect! If you have future work opportunities, feel free to connect with me on <a href="https://www.linkedin.com/in/ray-i-parker/" target="_blank">LinkedIn</a> or reach out to <a href="mailto:rapark25@gmail.com">my business email</a>.</h3>
            </div>

            <hr>

            <div class="gallery-row">
                <div class="gallery-column">
                    <div class="icons" style="max-width: 100%">
                        <a href="https://www.linkedin.com/in/ray-i-parker/" target="_blank">
                            <img src="../../assets/Portfolio/Icons/LinkedIn.png" alt="LinkedIn Symbol">
                        </a>
                    </div>
                    <div>
                        <h3 style="text-align: center;">
                            <a href="https://www.linkedin.com/in/ray-i-parker/" target="_blank">
                                ray-i-parker
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="gallery-column" style="flex-direction: column;">
                    <div class="icons" style="max-width: 100%">
                        <a href="mailto:rapark25@gmail.com">
                            <img src="../../assets/Portfolio/Icons/Mail.png" alt="Email Symbol">
                        </a>
                    </div>
                    <div>
                        <h3 style="text-align: center;">
                            <a href="mailto:rapark25@gmail.com">
                                rapark25@gmail.com
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

        </section>
    </div>
</body>

