@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>
    <div class="regular game-project">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    HiveQuest<br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>ROLES:</span> Software Engineering; Production & Organization; 2D Illustrations & Writing </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p>
                        <span>Bee-come the hero in this bug-sized adventure!</span> In a far-off woodland, someone steals the Honeybee Kingdom's entire supply of honey overnight! Amidst the hive's panic, set off on an adventure as Dot, a newly-promoted worker bee, and take down the honey-thieving culprit in this 2.5D RPG adventure experience.<br>
                        
                        Brawl against the prime suspects, socialize with other kingdoms at The Buzz, and triumph levels brimming with enemies, collectibles, and silly interludes. Strategically use your honey-themed skills and items to find the honey thief and make your kingdom proud!
                    </p>
                </div>

            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section" style="height: 500px;">
                <iframe style="height: 100%; width: 100%;" align="middle"
                        src="https://www.youtube.com/embed/4-hj48ht6Ps?autoplay=1&mute=1&loop=1">                    
                </iframe>
            </div>

            <div>
                Play on Itch! (TODO: add link here)
            </div>

            <div class="center-section">
                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/ClockIcon.png" />
                        Dev Time: 3 Months
                    </h5>
                </div>

                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/UserIcon.png" />
                        Team Size: 8
                    </h5>
                </div>

                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/UE5 Logo.jpg" />
                        Game Engine: Unreal Engine 4
                    </h5>
                </div>

            </div>
        </section>

        <hr />

        <!-- PERSONAL CONTRIBUTIONS HEADER SECTION -->
        <section>
            <div>
                <h2 style="text-align:center;"> <b>Personal Contributions</b> </h2>
            </div>
            <div class="quick-links autumn-bg">
                <div class="row">
                    <div class="column">
                        <input type="button" onClick="document.getElementById('Software').scrollIntoView();" value="Software Engineering" />
                    </div>
                    <div class="column">
                        <input type="button" onClick="document.getElementById('Production').scrollIntoView();" value="Production" />
                    </div>

                    <div class="column">
                        <input type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Illustrations & Writing" />
                    </div>
                </div>
            </div>
        </section>


        <!-- SOFTWARE ENGINEERING SECTION -->
        <section id="Software">
            <div>
                <h3> Software Engineering </h3>
                <br />
            </div>
            <div>
                <ul>
                    <li>
                        Implemented a multi-line dialogue system that links .CSV files to a variety of interactable characters.
                    </li>
                    <li>
                        Handled creating most of the overworld features, which includes gathering and tracking collectibles, animations playing with the correct inputs and timing, adding playable characters and movement, and moving between levels.
                    </li>
                    <li>
                        Added in the UI elements and made sure they transitioned smoothly in all scenarios (e.g. level transitions, fight/explore transitions, victory and defeat screens, pausing, and cutscenes).
                    </li>
                    <li>
                        Miscellaneous bug fixing and mechanic iterations throughout the scope of the project.
                    </li>
                </ul>

                <!-- TODO: add videos of software things-->
            </div>
        </section>

        <hr />

        <!-- PRODUCTION & ORGANIZATION SECTION -->
        <section id="Production">
            <div>
                <h3> Production & Organization </h3>
                <br />
            </div>
            <div>
                <ul>                    
                    <li>
                        Organized and led remote weekly meetings to review progress, delegate tasks, and re-evaluate priorities for our agile sprints; additionally, wrote up text summaries of each meeting and their key notes.
                    </li>
                    <li>
                        Created written announcements to clarify delegated work for presentations, sprints, and important milestones, and additionally reflected this using Trello's scrum management.
                    </li>
                    <li>
                        Maintained the publishing and updating of the game to Itch.io and handled the playtest feedback.
                    </li>
                    <li>
                        Regularly communicated deadlines for presentations and sprints.
                    </li>
                </ul>

                <!-- CREDIT/INSPO: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp -->

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="/Portfolio/HQ/Production/Producer1.png">
                            <img src="/Portfolio/HQ/Production/Producer1.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="/Portfolio/HQ/Production/Producer2.png">
                            <img src="/Portfolio/HQ/Production/Producer2.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="/Portfolio/HQ/Production/Producer3.png">
                            <img src="/Portfolio/HQ/Production/Producer3.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="/Portfolio/HQ/Production/Producer4.png">
                            <img src="/Portfolio/HQ/Production/Producer4.png" alt=" - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <!-- 2D ILLUSTRATIONS & WRITING SECTION -->
        <section id="2D-Art">
            <div>
                <h3> 2D Illustrations & Writing </h3>
                <br />
            </div>

            <div>
                <ul>
                    <li>
                        Illustrated the non-character 2D assets, including collectibles and simple UI elements, and illustrated the NPC bee sprite.                        
                    </li>
                    <li>
                        Designed the linear progression of the game and the intended 2.5D style.
                    </li>
                    <li>
                        Created dialogue for all of the characters and the RPG-themed puns (e.g. "The Buzz" for the bee-themed bar, "Bacardbee" for one of the collectibles, "Bee's Whacks" for a special skill name).
                    </li>
                </ul>

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="/Portfolio/HQ/2D/LinearDesign.png">
                            <img src="/Portfolio/HQ/2D/LinearDesign.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="/Portfolio/HQ/2D/HQ6.png">
                            <img src="/Portfolio/HQ/2D/HQ6.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="/Portfolio/HQ/2D/HQ7.png">
                            <img src="/Portfolio/HQ/2D/HQ7.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/HQ/2D/Game_Paused_Screen.png">
                            <img src="/Portfolio/HQ/2D/Game_Paused_Screen.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/HQ/2D/BeeNPCSprite.png">
                            <img src="/Portfolio/HQ/2D/BeeNPCSprite.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/HQ/2D/Bacardbee.png">
                            <img src="/Portfolio/HQ/2D/Bacardbee.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 90%; max-width: 90%;">
                        <a target="_blank" href="/Portfolio/HQ/2D/BasicUI.png">
                            <img src="/Portfolio/HQ/2D/BasicUI.png" alt=" - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>