@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="regular game-project">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    HTTP Web Proxy <br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>SKILLS:</span> Client-Server Communication; Multi-Threading & Multi-Client Functionality; Web Caching; Web Filtering & Blocking </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p>
                        <span> Summary of program. </span> Further details of project, credibility, etc. <br>
                    </p>

                    <p> <span>Languages:</span> Python yadda yadda :)</p>

                    <p>
                        GitHub Repo: TBD
                    </p>
                </div>

            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section" style="height: 500px;">
                <iframe style="height: 100%; width: 100%;" align="middle"
                        src="https://www.youtube.com/embed/OSgwQWAQJak?autoplay=1&mute=1&loop=1">
                </iframe>
            </div>
        </section>

    </div>
</body>