@*
    TODO: Header comment
*@
@{
    ViewData["Title"] = "Portfolio Page";
}

<body class="cream-bg">
    <div class="regular">
        <!-- Introductory portfolio section - header + (optional) description -->
        <section>
            <div>
                <h1 class="display-4"> <b>Portfolio</b></h1>
                <p> lalala description lalalalala </p>
            </div>
        </section>

        <!-- Quick links to three different portfolio sections: Game Dev, Software Dev, and 2D Illustrations -->
        <section id="Quick-Links" class="autumn-bg">
            <div class="row">
                <div class="column">
                    <input type="button" onClick="document.getElementById('Game-Dev').scrollIntoView();" value="Game Dev" />
                </div>
                <div class="column">
                    <input type="button" onClick="document.getElementById('Software-Dev').scrollIntoView();" value="Software Dev" />
                </div>
                <div class="column">
                    <input type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Illustrations" />
                </div>
            </div>
        </section>

        <hr />

        <!-- GAME DEVELOPMENT SECTION -->
        <section id="Game-Dev">
            <h2> <b>  Game Development</b></h2>
            <p> lalala description lalalalala </p>
            <br />
            <div style="margin:10px; padding: 10px">
                <div class="row 1">
                    <div class="column 1">
                        <!-- Whisker Witchery -->
                        <div id="Whisker-Witchery" class="card 1">
                            <a class="card-bg" asp-controller="Portfolio" asp-action="TODO">
                                <h1 class="card-text title-white">Whisker Witchery</h1>
                            </a>
                            <div class="hide title-white card-fonts">
                                <div class="column">
                                    <h2 class="title-white">Whisker Witchery</h2>
                                    <br />
                                    <div class="column">
                                        <h5 class="title-white"> Whisker Witchery is a 3D stealth platformer that follows the journey of a cursed rat in a magical world. By collecting potion ingredients and avoiding the dangers of their rival witch's cottage, the player works to become human once more!</h5>
                                        <h5 class="title-white"> In this Steam-published project, I focused on <b> software engineering </b> and <b> UI/UX design.</b> </h5>
                                    </div>
                                    <br />
                                    <img src="~/Portfolio/Icons/next.png" style="width:10%; filter:invert(1);"/>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column 2">
                        <!-- Senior Hearts -->
                        <div id="Senior-Hearts" class="card 2">
                            <h1 class="card-text-old title-white">Senior Hearts</h1>
                        </div>
                    </div>
                </div>
                <div class="row 2">
                    <div class="column 3">
                        <!-- Leaf It Behind -->
                        <div id="Leaf-It-Behind" class="card 3">
                            <h1 class="card-text-old title-white">Leaf It Behind</h1>
                        </div>
                    </div>
                    <div class="column 4">
                        <!-- HiveQuest -->
                        <div id="HiveQuest" class="card 4">
                            <h1 class="card-text-old title-white">HiveQuest</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <!-- SOFTWARE DEVELOPMENT SECTION -->
        <section id="Software-Dev">
            <h2> <b>Software Development</b></h2>
            <p> lalala description lalalalala </p>
            <br />

            <p>TODO: software dev sections</p>
        </section>

        <hr />

        <!-- 2D ILLUSTRATION SECTION -->
        <section id="2D-Art">
            <h2> <b>2D Illustrations</b></h2>
            <p> lalala description lalalalala </p>
            <br />

            <p>TODO: 2d illustration section</p>
        </section>

    </div>

</body>