@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>
    <div class="regular game-project">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    Leaf It Behind<br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>ROLES:</span> Character Design & Animation; 2D Illustration & Background Art </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p>
                        <span> Restore peace to the storm-wrecked forest! </span> In this 2D sidescroller fishing platformer, play as a flying leopard gecko with a trusty fishing rod. The locals lost their precious belongings in a terrible storm, and Little Bitty is determined to glide across the forest and fish them back up! Meet a cozy cast of animal characters, glide through this serene forest map, and experience one of the most dramatic fishing mini-games in this 36-hour game jam creation.<br>
                    </p>
                </div>

            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section" style="height: 500px;">
                <iframe style="height: 100%; width: 100%;" align="middle"
                        src="https://www.youtube.com/embed/Z6rxcKGIVw4?autoplay=1&mute=1&loop=1">                    
                </iframe>
            </div>

            <div>
                Play on Itch!
            </div>

            <div class="center-section">
                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/ClockIcon.png" />
                        Dev Time: 36 Hours
                    </h5>
                </div>

                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/UserIcon.png" />
                        Team Size: 3
                    </h5>
                </div>

                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/UnityLogo.png" />
                        Game Engine: Unity
                    </h5>
                </div>

            </div>
        </section>

        <hr />

        <!-- PERSONAL CONTRIBUTIONS HEADER SECTION -->
        <section>
            <div>
                <h2 style="text-align:center;"> <b>Personal Contributions</b> </h2>
            </div>
            <div class="quick-links autumn-bg">
                <div class="row">
                    <div class="column">
                        <input type="button" onClick="document.getElementById('Character-Art').scrollIntoView();" value="Character Designs" />
                    </div>
                    <div class="column">
                        <input type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Illustrations" />
                    </div>
                </div>
            </div>
        </section>


        <!-- CHARACTER DESIGN & ANIMATION SECTION -->
        <section id="Character-Art">
            <div>
                <h3> Character Design & Animation </h3>
                <br />
            </div>
            <div>
                <ul>
                    <li>
                        Created four original character designs through a process of concept sketching and reiteration until achieving satisfactory final designs.
                    </li>
                    <li>
                        Illustrated every character design and finalized their in-game assets.
                    </li>
                    <li>
                        Animated idles for the NPCs and multiple movement animations for the main character.
                    </li>
                </ul>

                <!-- CREDIT/INSPO: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp -->

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="/Portfolio/LIB/Character/Leaf it Behind - Character Design Process.png">
                            <img src="/Portfolio/LIB/Character/Leaf it Behind - Character Design Process.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/Character/LB_Idle.gif">
                            <img src="/Portfolio/LIB/Character/LB_Idle.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/Character/LB_Walk.gif">
                            <img src="/Portfolio/LIB/Character/LB_Walk.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/Character/LB_Glide.gif">
                            <img src="/Portfolio/LIB/Character/LB_Glide.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/Character/Hedge_Idle.gif">
                            <img src="/Portfolio/LIB/Character/Hedge_Idle.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/Character/Fox_Idle.gif">
                            <img src="/Portfolio/LIB/Character/Fox_Idle.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/Character/Bird_Idle.gif">
                            <img src="/Portfolio/LIB/Character/Bird_Idle.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <!-- 2D ILLUSTRATIONS & BG ART SECTION -->
        <section id="2D-Art">
            <div>
                <h3> 2D Illustrations & Background Art </h3>
                <br />
            </div>

            <div>
                <ul>
                    <li>
                        Designed and illustrated 12 unique collectibles for the player to discover throughout the game.
                    </li>
                    <li>
                        Illustrated the background elements, including animated details such as waterfall movements and parallax layers for added depth.
                    </li>
                    <li>
                        Designed and animated the title screen, and additionally created other miscellaneous UI elements.
                    </li>
                </ul>

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="/Portfolio/LIB/2D/FISH.gif">
                            <img src="/Portfolio/LIB/2D/FISH.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="/Portfolio/LIB/2D/BonnetCottage.png">
                            <img src="/Portfolio/LIB/2D/BonnetCottage.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="/Portfolio/LIB/2D/CozyBlanket.png">
                            <img src="/Portfolio/LIB/2D/CozyBlanket.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="/Portfolio/LIB/2D/Money.png">
                            <img src="/Portfolio/LIB/2D/Money.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 20%; max-width: 20%;">
                        <a target="_blank" href="/Portfolio/LIB/2D/Knife.png">
                            <img src="/Portfolio/LIB/2D/Knife.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/2D/bg3.png">
                            <img src="/Portfolio/LIB/2D/bg3.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/2D/Fishing.png">
                            <img src="/Portfolio/LIB/2D/Fishing.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column" style="flex: 33%; max-width: 33%;">
                        <a target="_blank" href="/Portfolio/LIB/2D/BG2.png">
                            <img src="/Portfolio/LIB/2D/BG2.png" alt=" - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>