@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="regular game-project">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    Ray Tracing Graphics Project <br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>SKILLS:</span> Computer Graphics; Software Ray Tracing; JavaScript & WebGL; GLSL </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p>
                        <span> This is a software tracer that runs exclusively on the GPU. </span> This is a computer graphics project coded in GLSL, HTML/JavaScript, and WebGL. A majority of the project was created and provided by Cem Yuksel, a professor studying computer graphics at the University of Utah. The GLSL code is my original work, which utilizes formulas to calculate the bouncing of rays around the scene.<br>
                    </p>

                    <p>
                        <span> Languages: </span> GLSL; WebGL; HTML; JavaScript<br>
                    </p>

                    <h6> Note: GitHub Repository is shared upon request </h6>
                </div>

            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section video-height">
                <iframe style="height: 100%; width: 100%;" align="middle"
                        src="https://www.youtube.com/embed/yCgi--nvcWc?autoplay=1&mute=1&loop=1">
                </iframe>
            </div>

            <div class="dark-brown-text">
            </div>

        </section>

    </div>
</body>