@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>
    <div class="regular game-project">
        <!-- TITLE SECTION -->
        <section>
            <div>
                <h1 class="game-title">
                    Senior Hearts<br>
                </h1>
                <hr>
                <div class="display-4" style="font-size: 25px;">
                    <h5 style="text-align:center;"> <span>ROLES:</span> Software Engineering; 2D Illustrations & Character Design </h5>
                </div>
                <hr>
                <div class="dark-brown-text">
                    <p>
                        <span>Rescue the hearts of these old soul pups!</span> Welcome to Senior Hearts, an empathetic story-driven game that introduces the lesser-known struggles of old dogs in the shelter system. The Senior Hearts Sanctuary saves older dogs from euthanasia in shelters and gives them a second chance at finding their fur-ever home. Play as a designated dog therapist, Dr. Bones, the day after one of the dogs pass away from heart disease.<br>
                    </p>
                    <p>
                        Earn the camaraderie of this game's old soul cast and explore the four different adoption endings!
                    </p>
                </div>

            </div>
        </section>

        <!-- VIDEO + ICONS SECTION -->
        <section>
            <div class="center-section" style="height: 500px;">
                <iframe style="height: 100%; width: 100%;" align="middle"
                        src="https://www.youtube.com/embed/CZk0bZCG3_o?si=OSSuUZT9eJGfio64?autoplay=1&mute=1&loop=1">
                </iframe>
            </div>

            <div>
                <h3> Play on Itch: </h3>
                <a target="_blank" href="https://palerino.itch.io/senior-hearts">
                    <img style="width:90%" src="~/Portfolio/Icons/ItchIcon.png" />
                </a>                
            </div>

            <div class="center-section">
                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/ClockIcon.png" />
                        Dev Time: 3 Months
                    </h5>
                </div>

                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/UserIcon.png" />
                        Team Size: 4
                    </h5>
                </div>

                <div class="icons">
                    <h5 style="height:250px; text-align: center;">
                        <img style="width:90%" src="~/Portfolio/Icons/gamemaker.png" />
                        Game Engine: GameMaker Studio 2
                    </h5>
                </div>

            </div>
        </section>

        <hr />

        <!-- PERSONAL CONTRIBUTIONS HEADER SECTION -->
        <section>
            <div>
                <h2 style="text-align:center;"> <b>Personal Contributions</b> </h2>
            </div>
            <div class="quick-links autumn-bg">
                <div class="row">
                    <div class="column">
                        <input type="button" onClick="document.getElementById('Software').scrollIntoView();" value="Software Engineering" />
                    </div>
                    <div class="column">
                        <input type="button" onClick="document.getElementById('2D-Art').scrollIntoView();" value="2D Illustrations & Character Design" />
                    </div>
                </div>
            </div>
        </section>


        <!-- SOFTWARE ENGINEERING SECTION -->
        <section id="Software">
            <div>
                <h3> Software Engineering </h3>
                <br />
            </div>
            <div>
                <ul>
                    <li>
                        Implemented a multi-line dialogue system with customizable portraits, different choices that influence tha player's closeness with each NPC
                    </li>
                    <li>
                        Item collection + item specific events for each doggy
                    </li>
                    <li>
                        Engineered UI/UX and music events, animations, and basic collission events for items
                    </li>
                    <li>
                        Created four different endings that are triggered by the maxxing out hearts with a specific dog, each with its own unique dialogue and senior animal specific ending
                    </li>
                </ul>

                <!-- TODO: add videos of software things-->
            </div>
        </section>

        <hr />

        <!-- 2D ILLUSTRATIONS & WRITING SECTION -->
        <section id="2D-Art">
            <div>
                <h3> 2D Illustrations & Character Design </h3>
                <br />
            </div>

            <div>
                <ul>
                    <li>
                        Designed and illustrated Dr. Bones and Dr. Harley, the two dog therapists in the game, and their dialogue portraits
                    </li>
                    <li>
                        Illustrated and animated four different ending sequences
                    </li>
                </ul>

                <div class="gallery-row">
                    <div class="gallery-column" style="flex: 100%; max-width: 100%;">
                        <a target="_blank" href="/Portfolio/SH/2D/SHCharacterLineup.gif">
                            <img src="/Portfolio/SH/2D/SHCharacterLineup.gif" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="/Portfolio/SH/2D/DrBonesPortrait.png">
                            <img src="/Portfolio/SH/2D/DrBonesPortrait.png" alt=" - Ray Parker">
                        </a>
                    </div>
                    <div class="gallery-column">
                        <a target="_blank" href="/Portfolio/HQ/2D/HQ7.png">
                            <img src="/Portfolio/HQ/2D/HQ7.png" alt=" - Ray Parker">
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>