@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>

    <!-- TITLE SECTION -->
    <section>
        <div>
            <h1 class="game-title">
                Whisker Witchery<br>
            </h1>
            <hr>
            <p class="dark-brown-text">
                <span>Indulge in the world of witchcraft and tiny thievery!</span> In this 3D stealth platformer, Whisker Witchery follows the journey of a cursed rat exploring a magical world. After their rival witch transformed them into a rat, you must sneak through their rival's witchy cottage and collect potion ingredients to become human again. Trek through the spellbound levels influenced by potions, spells, and magic while evading deathly falls and&nbsp; fire-spitting enemies!<br>
            </p>
            <p>Will you survive the dangers and reach the witch's cauldron? Take your chances in the stealthy adventure of Whisker Witchery!</p>
        </div>
    </section>

    <!-- VIDEO + ICONS SECTION -->
    <section>
        <div class="videosize">
            <iframe style="height: 100%; width: 100%;" align="middle"
                    src="https://www.youtube.com/embed/hcRJZoU63gw?autoplay=1&mute=1&loop=1">
            </iframe>
        </div>
        <div style="height: 250px;">

        </div>
    </section>

    <!-- ROLES + PERSONAL INFO SECTION -->
    <section>
    </section>

    <!-- PERSONAL CONTRIBUTIONS HEADER SECTION -->
    <section>
    </section>

    <!-- SOFTWARE ENGINEERING SECTION -->
    <section>
    </section>

    <!-- PRESENTATIONS & USER RESEARCH SECTION 
        NOTE: add Honors Thesis in this section as well :)
    -->
    <section>
    </section>

    <!-- UI/UX DESIGN SECTION -->
    <section>
    </section>

    <!-- 2D ILLUSTRATIONS & PROMOTIONAL MATERIALS SECTION -->
    <section>
    </section>

</body>