<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Rammetto+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/shared/styles.css">
  <title>Raydowi | TITLE</title>
</head>
<body>
    <header>
    <nav style="padding-right: var(--margin)">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/gallery/">Gallery</a>
        <a href="mailto:rapark25@gmail.com"><img src="/shared/icon/mail.svg"></a>
        <a href="https://www.linkedin.com/in/ray-i-parker/" target="_blank" rel="noopener noreferrer"><img src="/shared/icon/linkedin.svg" height="24px"></a>
    </nav>
</header>
    <main>
        <section class="hero">
    <h1>Project Name</h1>
    <nav>
        <a href="#section-id">Link</a> 
    </nav>
</section>
<section>
    <div class="media ar16x9"><iframe src="https://www.youtube.com/embed/Z6rxcKGIVw4?si=-LtOjVt9Tk9jpQpP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    <div>

    </div>
    <div class="grid">
        <iframe height="167" frameborder="0" src="https://itch.io/embed/1889779" width="100%"><a href="https://dymander.itch.io/leaf-it-behind">Leaf It Behind by Dymander, Raydowi, granthchang</a></iframe>
        <p>
            In this 2D sidescroller fishing platformer, play as a flying leopard gecko with a trusty fishing rod. 
            The locals lost their precious belongings in a terrible storm, and Little 
            Bitty is determined to glide across the forest and fish them back up! Meet a cozy cast of animal characters, 
            glide through this serene forest map, and experience one of the most dramatic fishing mini-games in this 
            36-hour game jam creation.
        </p>
    </div>
    <div class="icons">
        <div class="icon-with-text"><img src="/shared/icon/team.svg" alt="Team size:"><span>3</span></div>
        <img src="/shared/icon/unity.svg" alt="Made with Unity Engine">
        <img src="/shared/icon/itchio.svg" alt="Published on itch.io">
        <div class="icon-with-text"><img src="/shared/icon/calendar.svg" alt="Published:"><span>2023</span></div>
    </div>
</section>

<section id="section-id">
	<h2>Section Title</h2>
	<ul>
		<li>List item</li>'
	</ul>
	<div class="grid">
		<div class="media ar4x3 modal">
			<img src="img/example.png" alt="alt text">
		</div>
		<div class="media ar4x3 modal">
			<img src="img/example.png" alt="alt text">
		</div>
	</div class="grid">
</section>
    </main>
    <footer>
    <img src="/shared/icon/logo.webp" width=100 style="padding-left: var(--margin)">
    <div class="footer-content">
        <div>
            <a href="mailto:rapark25@gmail.com"><img src="/shared/icon/mail.svg" height="24px"></a>
            <a href="https://www.linkedin.com/in/ray-i-parker/" target="_blank" rel="noopener noreferrer"><img src="/shared/icon/linkedin.svg" height="24px"></a>
            <p>©Ray Parker 2026</p>
        </div>
        <a href="https://alleydot.com/" style="font-style: italic; color: dimgray; font-size: var(--s-small-height)">Design by Alleydot</a>
    </div>
</footer>
</body>

<button onclick="topFunction()" id="top-button" title="Go to top">Top</button>

<div id="modal"  onclick="closeModal()">
    <span id="close" onclick="closeModal()">&times;</span>
    <img alt="" id="modal-content">
    <div id="modal-video-wrapper">
        <iframe id="modal-video" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div id="caption"></div>
</div>
<script src="/shared/scripts.js"></script>
</html>