<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Ray Parker - Games</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="../../favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/site.css" rel="stylesheet">

</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom med-brown-bg">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none site-title" asp-area="" asp-controller="Home" asp-action="Index">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="cream-text fs-4">Ray Parker</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../Home/About.html">About</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="Games.html">Games</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="Software.html">Software</a>
            </li>
            <li>
                <a class="nav-link cream-text header-color" href="Art.html">Artwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cream-text header-color" href="../Home/contact.html">Contact</a>
            </li>
        </ul>
    </header>

    <div class="regular">
        <!-- GAME DEVELOPMENT SECTION -->
            <!-- Introductory portfolio section - header + (optional) description -->
            <section>
                <div>
                    <h1 class="display-4" style="text-align: center;  text-indent: 0px;"> <b>Game Development</b></h1>
                    <h5 class="portfolio-desc title-black"> These are some of my favorite game development projects that I have worked on. Hover over the cards for a quick summary of my personal contributions, or click into them for a detailed portfolio.</h5>
                </div>
                <hr/>
            </section>
        <section id="Game-Dev">
            <div style="margin:10px; padding: 10px">
                <div class="row 1">
                    <div class="column 1">
                        <!-- Whisker Witchery -->
                        <div id="Whisker-Witchery" class="card">
                            <a class="nav-link cream-text header-color card-bg" href="Projects/WhiskerWitchery.html">
                                <h1 class="card-text title-white">Whisker Witchery</h1>
                            </a>
                            <div class="hide title-white card-fonts">
                                <div class="column">
                                    <h3 class="title-white">Whisker Witchery</h3>
                                    <hr />
                                    <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                    <div class="column">
                                            <ul class="title-white mobile-text">
                                                <li>
                                                Software Engineering
                                                </li>
                                                <li>
                                                Presentations & User Research
                                                </li>
                                                <li>
                                                UI/UX Design
                                                </li>
                                                <li>
                                                2D Illustrations & Promotional Materials
                                                </li>
                                            </ul>
                                        <br />
                                    </div>
                                    <div class="row">
                                        <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                            <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                                READ MORE
                                            </h5>
                                        </div>
                                        <div class="column">
                                            <img src="../../assets/Portfolio/Icons/next.png" class="card-arrow"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column 2">
                        <!-- Leaf It Behind -->
                        <div id="Leaf-It-Behind" class="card">
                            <a class="nav-link cream-text header-color card-bg" href="Projects/LeafItBehind.html">
                                <h1 class="card-text title-white">Leaf It Behind</h1>
                            </a>
                            <div class="hide title-white card-fonts">
                                <div class="column">
                                    <h3 class="title-white">Leaf It Behind</h3>
                                    <hr />
                                    <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                    <div class="column">
                                        <ul class="title-white mobile-text">
                                            <li>
                                                Character Design
                                            </li>
                                            <li>
                                                Character Animation
                                            </li>
                                            <li>
                                                2D Illustrations
                                            </li>
                                            <li>
                                                Background Art
                                            </li>
                                        </ul>
                                        <br />
                                    </div>
                                    <div class="row">
                                        <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                            <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                                READ MORE
                                            </h5>
                                        </div>
                                        <div class="column">
                                            <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row 2">
                    <div class="column 3">
                        <!-- HiveQuest -->
                        <div id="HiveQuest" class="card">
                            <a class="nav-link cream-text header-color card-bg" href="Projects/HiveQuest.html">
                                <h1 class="card-text title-white">HiveQuest</h1>
                            </a>

                            <div class="hide title-white card-fonts">
                                <div class="column">
                                    <h3 class="title-white">HiveQuest</h3>
                                    <hr />
                                    <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                    <div class="column">
                                        <ul class="title-white mobile-text">
                                            <li>
                                                Software Engineering
                                            </li>
                                            <li>
                                                Production & Organization
                                            </li>
                                            <li>
                                                2D Illustrations
                                            </li>
                                            <li>
                                                Writing
                                            </li>
                                        </ul>
                                        <br />
                                    </div>
                                    <div class="row">
                                        <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                            <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                                READ MORE
                                            </h5>
                                        </div>
                                        <div class="column">
                                            <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column 4">
                        <!-- Senior Hearts -->
                        <div id="Senior-Hearts" class="card">
                            <a class="nav-link cream-text header-color card-bg" href="Projects/SeniorHearts.html">
                                <h1 class="card-text title-white">SeniorHearts</h1>
                            </a>

                            <div class="hide title-white card-fonts">
                                <div class="column">
                                    <h3 class="title-white">Senior Hearts</h3>
                                    <hr />
                                    <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                    <div class="column">
                                        <ul class="title-white mobile-text">
                                            <li>
                                                Software Engineering
                                            </li>
                                            <li>
                                                Character Design
                                            </li>
                                            <li>
                                                2D Illustrations
                                            </li>
                                        </ul>
                                        <br />
                                    </div>
                                    <div class="row">
                                        <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                            <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                                READ MORE
                                            </h5>
                                        </div>
                                        <div class="arrow-column">
                                            <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>