<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ray Parker">

    <title>Ray Parker - Games</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="../../favicon.ico">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/site.css" rel="stylesheet">

</head>

<body>

    <header class="navbar navbar-expand-sm med-brown-bg justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin: 0px 10px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../Home/About.html">About</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="Games.html">Games</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="Software.html">Software</a>
                </li>
                <li>
                    <a class="nav-link cream-text header-color" href="Artwork.html">Artwork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cream-text header-color" href="../Home/Contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </header>


    <div class="regular">
        <!-- Introductory portfolio section - header + (optional) description -->
        <section>
            <div>
                <h1 class="display-5" style="text-align: center;  text-indent: 0px;"> <b>Game Development</b></h1>
                <h5 class="portfolio-desc"> These are some of my favorite game development projects that I have worked on. Hover over the cards for a quick summary of my personal contributions, or click into them for a detailed portfolio.</h5>
            </div>
            <hr/>
        </section>
    </div>

    <!-- GAME DEVELOPMENT SECTION -->
    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 spooky-bg align-items-center">
            <div class="regular compact-section-width card-gallery-row">
                <div class="card-gallery-column">                    
                    <!-- Whisker Witchery -->
                    <div id="Whisker-Witchery" class="card">
                        <a class="cream-text card-bg" href="Projects/WhiskerWitchery.html">
                            <h1 class="card-text title-white">Whisker Witchery</h1>
                        </a>
                        <div class="hide title-white card-fonts">
                            <div class="column">
                                <div class="gallery-row">
                                    <h3 class="title-white">Whisker Witchery</h3>
                                </div>
                                <hr />
                                <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                <div class="column">
                                    <ul class="title-white mobile-text">
                                        <li>
                                            Software Engineering
                                        </li>
                                        <li>
                                            Presentations & User Research
                                        </li>
                                        <li>
                                            UI/UX Design
                                        </li>
                                        <li>
                                            2D Illustrations & Promotional Materials
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                        <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                            READ MORE
                                        </h5>
                                    </div>
                                    <div class="column">
                                        <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-gallery-column">
                    <!-- Leaf It Behind -->
                    <div id="Leaf-It-Behind" class="card">
                        <a class="cream-text card-bg" href="Projects/LeafItBehind.html">
                            <h1 class="card-text title-white">Leaf It Behind</h1>
                        </a>
                        <div class="hide title-white card-fonts">
                            <div class="column">
                                <h3 class="title-white">Leaf It Behind</h3>
                                <hr />
                                <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                <div class="column">
                                    <ul class="title-white mobile-text">
                                        <li>
                                            Character Design
                                        </li>
                                        <li>
                                            Character Animation
                                        </li>
                                        <li>
                                            2D Illustrations
                                        </li>
                                        <li>
                                            Background Art
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                        <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                            READ MORE
                                        </h5>
                                    </div>
                                    <div class="column">
                                        <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="regular card-gallery-row compact-section-width">
                <div class="card-gallery-column">
                    <!-- HiveQuest -->
                    <div id="HiveQuest" class="card">
                        <a class="cream-text card-bg" href="Projects/HiveQuest.html">
                            <h1 class="card-text title-white">HiveQuest</h1>
                        </a>
                        <div class="hide title-white card-fonts">
                            <div class="column">
                                <div class="gallery-row">
                                    <h3 class="title-white">HiveQuest</h3>
                                </div>
                                <hr />
                                <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                <div class="column">
                                    <ul class="title-white mobile-text">
                                        <li>
                                            Software Engineering
                                        </li>
                                        <li>
                                            Production & Organization
                                        </li>
                                        <li>
                                            2D Illustrations
                                        </li>
                                        <li>
                                            Writing
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                        <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                            READ MORE
                                        </h5>
                                    </div>
                                    <div class="column">
                                        <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-gallery-column">
                    <!-- Leaf It Behind -->
                    <div id="Senior-Hearts" class="card">
                        <a class="cream-text card-bg" href="Projects/SeniorHearts.html">
                            <h1 class="card-text title-white">Senior Hearts</h1>
                        </a>
                        <div class="hide title-white card-fonts">
                            <div class="column">
                                <h3 class="title-white">Senior Hearts</h3>
                                <hr />
                                <h5 class="title-white mobile-header-text"><b>Personal Contributions:</b></h5>
                                <div class="column">
                                    <ul class="title-white mobile-text">
                                        <li>
                                            Software Engineering
                                        </li>
                                        <li>
                                            Character Design
                                        </li>
                                        <li>
                                            2D Illustrations
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div style="text-align:right; width: max-content; flex-grow:10; font-family:'Courier New'" class="column read-more">
                                        <h5 style="text-align: right; padding-top: 3px;" class="text-white">
                                            READ MORE
                                        </h5>
                                    </div>
                                    <div class="column">
                                        <img src="../../assets/Portfolio/Icons/next.png"  class="card-arrow" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</div>
